@charset "utf-8";
/* CSS Document */

*{padding:0px; margin:0px;}
html{font-family:tahoma,arial,sans-serif; font-size:12px; line-height:1em; height:100%; background:#eee;}
body{position:relative; color:#333; padding-bottom:45px;}
ul,ol,li{list-style:none;}
/*img{border:none; display:block;}*/
a{color:#333;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
.clear{width:100%; height:0; overflow:hidden; clear:both;}
.body{width:1000px; margin:0 auto; overflow:hidden;}

.header{width:100%; height:auto; padding-bottom:10px;}
.header dl{width:300px; margin:0 auto; color:#fff; font-weight:bold; padding-top:15px;}
.header dl .span1{}
.header dl .span2{height:20px;display:block;padding:0 4px;}
.header dl .span3{height:12px;padding-top:20px;display:block;font-size:12px; width:140px; overflow:hidden;}
.header dl .span4 {
    background: url(../images/wap.png) no-repeat scroll -65px -288px transparent;
    display: block;
    float: right;
    height: 30px;
    margin-right:3px;
    width: 30px;
	margin-top:5px;
}
.header dl dt{height:auto; display:inline-block; width:300px;}
.header dl dd{display:inline-block;}
.header dl dd .text{float:left; width:258px; height:33px; background:-webkit-gradient(linear,0 0,0 100%,from(whiteSmoke),to(#FDFDFD)); padding-left:4px; border:solid 1px #ccc; border-right:none;}
.header dl dd .button{float:left; width:36px; height:35px; background:url(../images/wap.png) no-repeat; border:none;}
.body{width:300px; margin:0 auto;}

#mcover{ position: fixed;	top:0;	left:0;	width:100%;	height:100%;background:rgba(0, 0, 0, 0.7);	display:none;z-index:20000;}
#mcover div.rongqi {z-index:20001; margin:auto; text-align:center;}
#mcover div.rongqi span{background:#666; padding:0.5em 1em; color:#FFF;border-radius:0.5em;}

.body .menu{padding-top:21px; padding-left:2px; overflow:hidden;}
.body .menu .span1{display:block; width:60px; height:60px; background:url(../images/wap.png) no-repeat 0 -37px;}
.body .menu .span12{background-position:-62px -37px;}
.body .menu .span13{background-position:0 -99px;}
.body .menu .span14{background-position:-62px -99px;}
.body .menu .span15{background-position:0 -161px;}
.body .menu .span16{background-position:-62px -161px;}
.body .menu .span17{background-position:0 -223px;}
.body .menu .span18{background-position:-62px -223px;}
.body .menu .span2{display:block; width:60px; text-align:center; padding-top:5px; font-size:1em}
.body .menu a{display:block; margin:0 7px; float:left; width:60px; height:89px; overflow:hidden;}
.body .nvyong{overflow:hidden;}
.body .nvyong img{float:left; margin-left:1px; margin-top:1px;}
.body .nvyong .img1{width:199px; height:150px;}
.body .nvyong .img2{width:99px; height:50px;}
.body .nvyong .img3{width:99px; height:50px;}
.body .nvyong .img4{width:99px; height:50px;}
.body .nvyong_fushi .img1{width:199px; height:150px;}
.body .nvyong_fushi .img2{width:99px; height:150px;}
.body .nvyong_fushi .img3{width:99px; height:80px;}
.body .nvyong_fushi .img4{width:99px; height:80px;}
.body .nvyong_fushi .img5{width:99px; height:80px;}
.body .nvyong_m{padding-top:2px;}
.body .nvyong_m a{border:solid 1px #dedede; background:#fff; margin-top:7px; display:inline-block; margin-left:3px; line-height:31px; height:31px; min-width:67px; text-align:center;}
.body .nvyong_m a font{display:block;padding:0px 3px;}
.body .nvyong_m .cur{background:#fe5728; color:#fff;}
.body .nvyong .ny{display:block; width:99px; color:#fff; height:150px; float:left; background:#FE5425; margin-left:1px; margin-top:1px;}
.body .nvyong .ny .b1{display:block; font-size:24px; width:50px; height:62px; line-height:1.1em; padding-left:10px; padding-top:10px;}
.body .nvyong .ny .b2{display:block; font-style:oblique; font-weight:normal; font-size:14px; padding-left:10px; height:48px;}
.body .nvyong .ny .b2 a{color:#fff;}
.body .nvyong .ny font{display:block; width:26px; height:24px; background:url(../images/wap.png) no-repeat -65px 0; float:right; margin-right:6px;}
.body .nvyong .nay{background:#55aa77;}
.body .nvyong .zq{background:#EDC524;}
.body .nvyong .fs{background:#8C44BB;}
.body .nvyong .tt{background:#3F80E2;}
.body .greet,.goodsBody .greet{display:block; margin:0 auto; width:298px; height:52px; margin-top:15px; margin-bottom:5px; border:solid 1px #d7d7d7; background-image:-moz-linear-gradient(top, #fff, #efecec); background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #efecec)); line-height:52px; font-size:16px; text-indent:16px;}
.body .greet span,.goodsBody .greet span{display:block; float:left;}
.body .greet b,.goodsBody .greet b{width:8px; display:inline-block; height:8px; border-right:solid 1px #333; border-bottom:solid 1px #333; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); float:right; margin-top:22px; margin-right:20px;}
.footer{border-bottom:solid 1px #dddddd;}
.footer .gotop{display:block; width:100px; height:50px; margin:0 auto; background:#333; margin-top:15px; margin-bottom:16px;}
.footer .gotop span{width:12px; display:block; height:12px; border-right:solid 2px #fff; border-bottom:solid 2px #fff; -webkit-transform:rotate(-135deg); -moz-transform:rotate(-135deg); margin:0 auto; position:relative; top:23px;}
.footer .banquan span{display:inline-block; color:#999; font-size:12px; line-height:normal; font-family:Arial, Helvetica, sans-serif;}
.footer .banquan{padding-top:16px; text-align:center; width:300px; margin:0 auto; height:50px;}
.footer .cxun{width:238px; height:32px; display:block;  margin:0 auto; margin-top:10px; border:solid 1px #d7d7d7; background-image:-moz-linear-gradient(top, #fff, #efecec); background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #efecec)); line-height:32px; font-size:14px; text-align:center;}
.footer .gwcLogin{width:300px; height:27px; margin:0 auto; padding-top:18px;}
.footer .gwcLogin a{display:block; float:left; height:25px; line-height:25px; text-align:center; background:#fff; width:65px; border:solid 1px #d7d7d7; margin-right:3px;}
.footer .gwcLogin .a3{margin:0; position:relative;}
.footer .gwcLogin .a3 span{background:#EC1A5B; right:-20px; top:-6px; position:absolute; display:block; height:20px; width:33px; color:#fff; border-radius:50%; text-align:center; line-height:19px;}
.footer_b{border-bottom:none; border-top:solid 1px #fff;}
.footer_b .gwc{text-align:center; height:25px;}
.footer_b .gwc a{color:#25aafe; font-size:14px; margin:0 10px;}
.footer_b .copy{font-size:14px; text-align:center; height:35px;}
.shopBody .login_qq{display:block; margin-left:11px; float:left; width:100px; height:37px; background:#ee2e5b; text-align:center; color:#fff; line-height:38px; font-size:18px; margin-top:16px;}
/*----------------list----------------*/
.listHeader{width:100%; height:52px; background-image:-moz-linear-gradient(top, #eeeeee, #dddddd); background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, #dddddd)); border-bottom:solid 1px #fff;}
.listHeader p{width:300px; position:relative; margin:0 auto; padding-top:10px; line-height:34px;}
.listHeader .left{display:block; position:relative; z-index:2; float:left; width:76px; height:32px; background:url(../images/wap.png) no-repeat 0 -319px; text-align:center; text-indent:10px;}
.listHeader .right{display:block; position:relative; z-index:2; float:right; width:60px; height:32px; background:url(../images/wap.png) no-repeat 0 -285px; text-align:center; margin-left:10px;}
.listHeader b{position:absolute; text-align:center; font-size:18px; left:80px; padding-top:2px;width:160px; text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.sequence{height:42px; padding-top:5px; border-bottom:solid 1px #dddddd; font-size:16px; line-height:normal; text-align:center}

.sequence .aright{ display:block; float:left; width:60px; height:32px; line-height:32px; background:url(../images/wap.png) no-repeat 0 -285px; text-align:center; margin-left:10px;}
.listBody .also{text-align:center; margin-left:-31px; font-size:14px; border-top:solid 1px #DDDDDD; height:58px; margin-top:10px;}
.listBody .also p{margin-bottom:20px;}
.listBody{width:306px; margin:0 auto; padding-top:6px; padding-bottom:25px; overflow:hidden;}
.listBody .goods{width:145px; margin-bottom:10px; float:left; margin:0 4px; margin-top:16px;}
.listBody .goods dt img{width:145px; margin-bottom:4px;}
.listBody .goods dd{line-height:1.5em; font-size:14px; overflow:hidden; padding-top:4px;}
.listBody .goods dd .span1{color:#ee2e5b; display:block; float:left;}
.listBody .goods dd .span2{background:#00BD04; color:#FFFFFF; height:16px; line-height:14px; margin-top:3px; padding:0 4px; display:block; float:right; font-size:12px; margin-left:6px;}
.listBody .goods dd .span3{background:#EE2E5B;}

.listBody .goods_fushi{height:275px !important;}
.listBody .goods_fushi dt img{height:195px !important;}
.listBodys{padding-left:31px; width:275px;}
.listBodys .goods{width:100px; margin:0 10px; margin-bottom:10px;}
.listBodys .goods dt img{width:100px; height:auto;}

.page{width:222px; margin:0 auto; position:relative; height:60px; line-height:30px;}
.page .left{display:block; position:relative; z-index:2; float:left; width:76px; height:32px; background:url(../images/wap.png) no-repeat 0 -319px; text-align:center; text-indent:10px;}
.page .right{float:right; background-position:0 -353px; text-align:center; text-indent:-10px;}
.page span{font-size:18px; position:absolute; text-align:center; width:100%; left:0;}
.page span font{color:#ee2e5b;}
.seach{width:300px; margin:0 auto; overflow:hidden; padding-bottom:8px; padding-top:4px;}
.seach .text{float:left; width:258px; height:33px; background:-webkit-gradient(linear,0 0,0 100%,from(whiteSmoke),to(#FDFDFD)); padding-left:4px; border:solid 1px #ccc; border-right:none;}
.seach .button{float:left; width:36px; height:35px; background:url(../images/wap.png) no-repeat; border:none;}
.line{width:100%; height:1px; overflow:hidden; clear:both; background:#fff;}
.lines{width:320px; margin:0 auto; margin-bottom:25px;}
.nyBody{width:300px;}
.nyBody .goods{width:300px; margin:0; height:116px; border-bottom:solid 1px #dddddd; padding-top:16px; border-top:solid 1px #fff;}
.nyBody .goods dt img{float:left; width:100px; height:100px;}
.nyBody .goods dd{overflow:hidden; width:190px; float:right; padding-top:2px;}
.nyBody .goods dd .span3{color:#999;}
.nyBody .goods dd .span4{color:#bc7f46;}
.nyBody .goods dd .span5{color:#25aafe;}
.nyBody .goods .top{padding-top:12px;}
.nyBody .goods dd .span1 font{font-size:20px;}
.nyBody .goods_fushi_ph{height:150px !important;}
.nyBody .goods_fushi_ph dt img{height:134px !important;}

/*-------sort--------*/
.sort{border-bottom:solid 1px #dddddd; border-top:solid 1px #fff; width:296px; padding:0 12px; padding-top:12px; padding-bottom:15px; margin:0 auto;}
.sort dl{height:70px;}
.sort dl dt img{width:60px; height:60px; border:solid 1px #dddddd; float:left;}
.sort dl dd{float:left; width:200px; padding-left:15px;}
.sort dl dd b{font-size:18px;}
.sort dl .top{padding-top:26px; padding-bottom:6px;}
.sort p{padding-top:2px;}
.sort p a{border:solid 1px #dedede; background:#fff; margin-top:7px; display:inline-block; margin-right:5px; padding:5px; padding-bottom:6px;}

/*----------shopping--------*/
.shopBody{width:320px; margin:0 auto; padding-bottom:20px;}
.shopBody .goods{width:100%; overflow:hidden; padding-bottom:20px; padding-top:5px; border-bottom:solid 1px #ddd; border-top:solid 1px #fff;}
.shopBody .goods dt img{width:50px; height:50px; float:left; margin:10px; margin-top:14px;}
.shopBody .goods_fushi dt img{width:50px; height:68px;}
.shopBody .goods dd{width:236px; float:left;}
.shopBody .goods dd p{font-size:14px; padding-top:10px; overflow:hidden; line-height:1.4em;}
.shopBody .goods dd p span{display:block; float:left; padding-top:6px;}
.shopBody .goods dd p input{float:left; width:60px; background:-webkit-gradient(linear,0 0,0 100%,from(whiteSmoke),to(#FDFDFD)); padding-left:7px; height:33px; border:solid 1px #bcbcbc;}
.shopBody .goods dd p .sc{color:#ee2e5b;}
.shopBody .info{width:100%; padding-top:5px; padding-bottom:16px; border-top:solid 1px #fff;}
.shopBody .info dl{overflow:hidden; padding-top:11px;}
.shopBody .info dl dd{float:left; width:86px; font-size:14px; padding-left:10px; padding-top:11px;}
.shopBody .info dl dt input{float:left; width:203px; background:-webkit-gradient(linear,0 0,0 100%,from(whiteSmoke),to(#FDFDFD)); padding-left:7px; height:33px; border:solid 1px #bcbcbc;}
.shopBody .info dl dt select{float:left; background:-webkit-gradient(linear,0 0,0 100%,from(whiteSmoke),to(#FDFDFD)); width:212px; padding-left:7px; height:36px; border:solid 1px #bcbcbc;}
.shopBody .info dl dt textarea{float:left; background:-webkit-gradient(linear,0 0,0 100%,from(whiteSmoke),to(#FDFDFD)); height:41px; width:196px; padding:7px; border:solid 1px #bcbcbc;}
.shopBody .info .dz{border-bottom:solid 1px #ddd; padding-bottom:18px;}
.shopBody .info dl dt p{float:left;}
.shopBody .info .pay{line-height:1.4em; padding-top:15px; padding-bottom:4px;}
.shopBody .info .pay dd{padding-top:0;}
.shopBody .info .pay span{font-size:14px; color:#ee2e5b;}
.shopBody .info .pay .total{position:relative; top:-6px; float:right; padding-right:10px;}
.shopBody .info .pay .total span{font-weight:bold; font-size:30px; position:relative; top:2px;}
.shopBody .info .pays{color:#51c15c; font-weight:bold;}
.shopBody .info .pays dd{width:auto;}
.shopBody .info .pays dd input{width:24px; height:23px; cursor:pointer; background:url(../images/wap.png) no-repeat -62px -285px; margin-right:8px; float:left; -webkit-appearance:none;}
.shopBody .info .pays dd input:checked{background:url(../images/wap.png) no-repeat -88px -285px;}
.shopBody .info .pays dd b{display:block; float:left; margin-top:4px;}
.shopBody .info .pays dt p{float:right; padding-right:10px; padding-top:3px;}
.line1{margin-bottom:4px;}
.line4{margin-bottom:50px;}
.shopBody .line2{background:#ddd; margin-top:15px;}
.shopBody .line3{background:#ddd; margin-top:10px;}
.shopBody .button{display:block; width:300px; height:48px; line-height:48px; background:#ee2e5b; color:#fff; font-weight:bold; text-align:center; font-size:20px; margin:0 auto; margin-top:10px;}
.warn{text-align:center; padding:70px 0; padding-bottom:100px; border-bottom:solid 1px #ddd; font-size:18px; color:#ee2e5b; font-weight:bold;}
.shopOk{width:265px; margin:0 auto; font-size:16px; padding:5px 0; line-height:1.8em; font-weight:bold;}
.shopOk span{color:#ee2e5b;}


/*--------goodsBody-------*/
.goodsBody{width:100%; margin:0 auto;}
.goodsBody .goods{border-bottom:solid 1px #ddd; padding-top:14px; padding-bottom:10px;}
.goodsBody .goods dt img{width:320px;margin:0 auto; margin-bottom:4px; border:solid 1px #e0e0e0;}
.goodsBody img{ max-width:320px; height:auto;}
.goodsBody table{ max-width:320px; height:auto; border:none}
.goodsBody .goods dd{padding:10px;}
.goodsBody .goods dd .p1{font-size:16px; line-height:1.4em; font-weight:bold; margin-bottom:8px;}
.goodsBody .goods dd .p2{padding-top:12px; font-size:14px; line-height:1.4em; overflow:hidden;}
.goodsBody .goods dd .p2 span{display:block; float:left;}
.goodsBody .goods dd .p2 .span1{width:40px; color:#666666;}
.goodsBody .goods dd .p2 font{color:#ee2e5b;}
.goodsBody .goods dd .p2 .font1{color:#ee2e5b; margin-right:8px;}
.goodsBody .goods dd .p2 .font2{color:#26aafc; margin-right:8px;}
.goodsBody .goods dd .p2 .font3{color:#c112e7;}
.goodsBody .goods dd .p2 b{font-weight:normal; color:#fff; background:#ee2e5b; margin-left:10px; font-size:12px; padding:2px 5px; padding-top:1px; position:relative; top:-1px;}
.goodsBody .goods_fushi dt img{height:269px !important;}
.goodsBody .buy{width:320px;height:68px; margin:0 auto; text-align:center; border-bottom:solid 1px #ddd;}
.goodsBody .buy a{display:block; margin-left:11px; float:left; width:141px; height:37px; background:#ee2e5b; text-align:center; color:#fff; line-height:38px; font-size:18px; margin-top:16px;}
.goodsBody .buy .right{background:#26aafc;}
.goodsBody .buy2{height:68px; border-bottom:solid 1px #ddd;margin:0 auto;}
.goodsBody .buy2 a{display:block;width:141px; height:37px; background:#ee2e5b; text-align:center; color:#fff; line-height:38px; font-size:18px;margin:0 auto;}
.goodsBody .buy3{margin:0 auto;}
.goodsBody .buy3 a{display:block;width:141px; height:37px; background:#ee2e5b; text-align:center; color:#fff; line-height:38px; font-size:18px;margin:15px auto;}
.goodsBody .data{display:block; height:52px; border-bottom:solid 1px #ddd; border-top:solid 1px #fff; line-height:52px; font-size:16px; text-indent:16px; overflow:hidden;}
.goodsBody .data i{display:block; float:left; width:33px; height:17px; background:url(../images/wap.png) no-repeat -62px -285px; margin-top:12px; margin-left:5px;}
.goodsBody .data span{display:block; float:left;}
.goodsBody .data font{color:#fff; background:#ee2e5b; font-size:12px; padding:3px 10px; padding-bottom:4px; margin-right:12px; position:relative; top:-2px;}
.goodsBody .data b{width:8px; display:inline-block; height:8px; border-right:solid 1px #333; border-bottom:solid 1px #333; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); float:right; margin-top:22px; margin-right:20px;}
.goodsBody .score{padding-top:0; border-bottom:none; margin-bottom:10px;}
.goodsBody .data img{ width:100%; height:auto}
/*---------parametric---------*/
.listHeader .cur{background:#EC1A5B;color:#FFF;}
.sequence .cur{background:#EC1A5B;color:#FFF;}
.body .par{font-size:14px; overflow:hidden; line-height:1.2em; padding-top:15px;}
.body .par span{display:block; float:left;}
.body .par .span1{width:76px; color:#666;}
.footerPar{border-bottom:none; margin-top:40px;}
.body .appr{border-bottom:solid 1px #ddd; border-top:solid 1px #fff; line-height:1.6em; padding:12px 10px; font-size:14px;}
.detail{line-height:1.8em; font-size:14px;}
.detail img{max-width:300px; margin:13px auto;}

/*------------loginBody-----------*/
.loginBody .info{border:none; padding-top:10px;}
.loginBody .info dl{padding-top:16px;}
.loginBody .button{background:#ff4e00; border:none; cursor:pointer;}
.loginBody .dlLo{overflow:hidden; line-height:1.5em; width:300px; margin:0 auto; padding-top:10px;}
.loginBody .dlLo a{color:#ff4e00; font-size:14px;}
.loginBody .dlLo dt{float:left;}
.loginBody .dlLo dd{float:right;}
.footer_b .f_login{height:30px; background:#e5e5e5; font-size:14px; border-bottom:solid 1px #c2c2c2; width:300px; margin:0 auto; margin-bottom:16px; text-align:center; line-height:32px;}
.footer_b .f_login a{margin:0 9px; color:#25aafe;}
.loginBody .info .code{width:300px; margin:0 auto; font-size:14px; line-height:24px; padding-top:5px; color:#ff4e00;}
.loginBody .info .code a{color:#26aafc; margin-left:8px;}

/*--------------user------------*/
.userBody{width:300px; margin:0 auto;}
.userBody .userName{height:46px; line-height:1.6em;}
.userBody .userName .left{display:block; float:left; margin-top:15px; font-weight:bold; font-size:18px;}
.userBody .userName .right{display:block; float:right; margin-top:13px;}
.userBody .userName .right font{font-size:18px; font-weight:bold; padding-left:5px; position:relative; top:1px;}
.userBody .userBox{width:300px; margin:0 auto; padding-bottom:20px;}
.userBody .userBox a{display:block; width:100%; height:49px; border-bottom:solid 1px #d8d8d8; background:#fff;}
.userBody .userBox a span{display:block; float:left; font-size:14px;}
.userBody .userBox a .span1{width:26px; height:20px; background:url(images/user.png) no-repeat; margin-left:20px; margin-top:16px;}
.userBody .userBox a .span12{background-position:0 -22px;}
.userBody .userBox a .span13{background-position:0 -44px;}
.userBody .userBox a .span14{background-position:0 -66px;}
.userBody .userBox a .span15{background-position:0 -88px;}
.userBody .userBox a .span2{margin-top:19px; margin-left:27px;}
.userBody .userBox a .span3{float:right; margin-top:16px; color:#fff; background:#f78e2e; margin-right:19px; padding:2px 3px; font-weight:bold;}
.userBody .addAddress{text-align:right; padding:16px 0; font-size:14px;}
.userBody .addAddress a{color:#26aafc;}
.userBody .addressBox{background:#fff; padding-bottom:14px; margin-bottom:20px;}
.userBody .addressBox dl{padding:0 25px; padding-top:20px; height:30px; margin-bottom:8px; background:#fafafa;}
.userBody .addressBox dl dt{float:left; font-size:16px; font-weight:bold;}
.userBody .addressBox dl dd{float:right; color:#eeeeee;}
.userBody .addressBox dl dd a{margin-left:10px;}
.userBody .addressBox dl dd .a1{margin-right:10px; color:#26aafc;}
.userBody .addressBox dl dd .a2{color:#ee2e5b;}
.userBody .addressBox p{padding:0 25px; font-size:14px; line-height:32px;}
.userBody .addressBox p span{padding:0 10px;}
.myorderBody{width:300px; margin:0 auto; padding-top:22px;}
.myorderBody .box{background:#fff; margin-bottom:25px; overflow:hidden; font-size:14px;}
.myorderBody .box p{height:30px; background:#fafafa; padding:0 10px; padding-top:20px; margin-bottom:8px;}
.myorderBody .box p span{display:block; float:left;}
.myorderBody .box p a{display:block; float:right; color:#26aafc;}
.myorderBody .box dl{margin-bottom:15px; overflow:hidden; padding:0 10px;}
.myorderBody .box dl dt img{width:60px; float:left;}
.myorderBody .box dl dd{float:left; width:210px; padding-left:10px; line-height:20px;}
.myorderBody .box dl dd span{color:#f02b59; margin-right:12px;}
.myorderBody .box .p{color:#999999; margin-top:20px; padding-top:0; margin-bottom:0;}
.myorderBody .box .p .span2{float:right;}
.myorderBody .box .p .span2 font{font-size:14px; color:#f02b59; font-size:12px;}
.myorderBody .box .p .span2 font b{font-size:18px; font-weight:normal;}
.integralBody{width:300px; margin:0 auto; padding-top:20px; padding-bottom:20px;}
.integralBody .top{height:52px; background:#ee2e5b; margin-bottom:15px; padding-right:15px; color:#fff; line-height:50px; overflow:hidden; text-align:right;}
.integralBody .top span{font-size:30px; padding:0 5px; position:relative; top:2px;}
.integralBody p{line-height:28px; font-size:14px;}
.chaxunBox{width:300px; margin:0 auto; font-size:14px;}
.chaxunBox .top{font-weight:bold; padding:25px 0;}
.chaxunBox .box{width:277px; margin-left:18px;}
.chaxunBox .box .div1{border-left:2px solid #ff4400; width:275px; padding:10px 0;}
.chaxunBox .box .div1 .div1Box{width:240px; color:#fff; line-height:22px; background:#ff4400; border-radius:2px; margin-left:35px; position:relative;}
.chaxunBox .box .div1 .div1Box .p1{position:absolute; width:39px; height:11px; background:url(images/cxun.png) no-repeat; left:-39px; top:19px;}
.chaxunBox .box .div1 .div1Box .p2{float:left; padding:10px;}
.chaxunBox .box .div1 .div1Box .p3{width:170px; padding:10px 0; float:left;}
.chaxunBox .box .div1 .div1Box .p4{width:100%; height:0px; overflow:hidden; clear:both;}
.chaxunBox .box .div2{border-left:solid 2px #BDBDBD;}
.chaxunBox .box .div2 .div1Box{background:#dddddd; color:#666666;}
.chaxunBox .box .div2 .div1Box .p1{background-position:0 -13px;}
.chaxunBox .box .date{color:#ff4400; height:25px; position:relative; left:-13px; margin-top:10px;}

.brandsBody{width:320px; margin:0 auto;}
.brandsBody .h2{font-size:20px; text-align:center; padding:22px 0;}
.brandsBody .a a{color:#007eff; display:inline-block; width:49%; text-indent:4px; height:22px; font-size:14px;}
.brands_detail{width:300px; margin:0 auto; font-size:14px; line-height:1.5em; padding-top:12px;}
.brandsMore{display:block; margin:0 auto; width:215px; height:30px; margin-top:10px; margin-bottom:25px; border:solid 1px #d7d7d7; background-image:-moz-linear-gradient(top, #fff, #efecec); background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #efecec)); line-height:30px; font-size:14px; text-align:center;}

.yi-shangqiao{position:fixed;bottom:0;width:100%; height:45px;z-index:11111}.yi-toolbar{height:45px;width:100%;display:-webkit-box;display:-moz-box;diasplay:box;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;box-orient:horizontal;border-top:1px solid #666;box-shadow:inset 0 1px 0 rgba(255,255,255,.5)}.yi-toolbar li{color:#fff;font-size:11px;text-align:center;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;-webkit-box-align:center}.yi-toolbar li a{color:#fff;text-decoration:none;display:block;padding-top:4px;font-size:12px;height:45px}.yi-toolbar li a.hover{background:rgba(255,255,255,.5)}.yi-toolbar span{width:32px;height:24px;display:block;margin:0 auto}.yi-toolbar .yi-toolbar-tel{width:17px;background:url(../images/tool-tel.png) 0 0 no-repeat;-webkit-background-size:17px 24px;-moz-background-size:17px 24px;background-size:17px 24px;}.yi-toolbar .yi-toolbar-mess{width:23px;background:url(../images/tool-sms.png) 0 center no-repeat;background-size:23px 20px}.yi-toolbar 
.yi-toolbar-online{width:23px;background:url(../images/tool-online.png) 0 0 no-repeat;background-size:23px 24px}
.yi-toolbar-index{width:23px;background:url(../images/tool-index.png) 0 0 no-repeat;background-size:31px 24px}
.yi-toolbar .yi-toolbar-map{width:16px;background:url(../images/tool-map.png) 0 0 no-repeat;background-size:16px 24px}@-webkit-keyframes toolicon{from{-webkit-transform:translateY(-2px)}to{-webkit-transform:translateY(2px)}}.yi-slink-li{width:33%;float:left;line-height:16px;text-align:center;position:relative}.yi-slink-li::before{content:"|";position:absolute;right:1px;top:10px}.yi-slink-li:nth-child(3n)::before{content:""}.yi-slink-li a{text-decoration:none;display:block;line-height:16px;height:16px;padding:10px 0}
.model_con li { height:38px; line-height:38px; margin-top:4px; padding-left:7px;padding-right:15px;  border:1px solid #e6e6e6; position:relative; background:#fff;}
.model_con li a { display:block}
.model_con li:after { content:' ';position:absolute;top:15px;right:8px;width:6px;height:6px;border:#656565 solid;border-width:2px 2px 0 0;-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg)}
.clearfix:after{display:block;content:'';clear:both;visibility:hidden}
* html .clearfix {height: 1%;}

.submit {margin-left:96px;display:block;width:141px;height:37px;background:#ee2e5b;text-align:center;color:#fff;line-height:38px;font-size:18px;border:0px;}
.nullcart{width:300px; margin:0 auto;}
.nullcart1 {
	display: inline-block;
	margin: 50px 0 20px;
	width: 100%;
	height: 70px;
	background: url(../images/cart3.png) center center no-repeat;
}
.nullcart2 {
	display: inline-block;
	margin: 0 0 50px;
	width: 100%;
	text-align:center;
}
.kefu{}
.kefu li{
	padding: 10px;
	border-bottom: 1px solid #DED6C9;
}
.kefu li span{
	float:left;
}
.kefu li a{
    display:inline-block;  
    _display:inline;  
    *display:inline;  
    zoom:1; 
	margin-right:20px;
}
.mc {
	padding: 6px;
}
.radius{
	margin: 10px 4px;
	padding: 10px;
	background: #fffdf7;
	border: 1px solid #cdc2b0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.telephonelink {
	font-size:16px;
	color: #fff;
	display: block;
	background-image: url(../images/btn_telephone.png);
	background-size: 100%;
	text-shadow: #6a9a59 0px 1px 0px;
	width: 140px;
	height: 38px;
	line-height: 38px;
	text-indent: 30px;
	padding: 0px 15px 0 20px;
}
.pricecolor {
color: #EC1A5B;
}
.left {float:left;}
.right {float:right;}
.px11 {font-size:11px;}

.mu-l2w li{padding: 10px;border-top: none;overflow: hidden; line-height: 1.6em;}
.mu-l2w li a{display: block;overflow: hidden;lear: both;padding: .22em 0;}
.mu-l2w li a .mu-tmb{float:left;margin-right:8px;}
.mu-l2w li a .mu-tmb img{ width:100px; height:100px}
.mu-l2w li .pricecolor1{display: block; color:#666;}
.mu-l2w li .pricecolor2{display: block;margin-top:2px; font-size:1.2em;color:#F00 }
.mu-l2w li .pricecolor2 span{background:#060; color:#FFF; height:25px; width:80px; padding:2px 4px; margin-left:5px;font-size:12px;}
.mu-l2w li .pricecolor3{display: block;margin-top:2px; color:#666}

/*login E*/
.other_login h4{height:30px}
.other_login p{margin-bottom:10px;height:34px}
.other_login p a{line-height: 34px;background: #f7931d;border-radius:5px;display: block;width:70%;color:#fff}
.other_login p i{width:30px;height:30px;background:#fff url(../images/icon1.png) 2px 5px no-repeat;float:left;margin:2px 14px 2px 2px;border-radius:3px}
.other_login p:nth-of-type(2) a{background: #00a2ff}
.other_login p:nth-of-type(2) a i{background-position: 2px -38px}
.other_login p:nth-of-type(3) a{background: #f00}
.other_login p:nth-of-type(3) a i{background-position: 2px -84px}
.other_login.fanjifen p{margin-left:8%}
.other_login.fanjifen aside{padding:10px 0 10px 10%}
.other_login.fanjifen aside a{color:#00a8ff}
.login,.other_login{margin:10px auto 20px;min-width:300px;max-width:300px}
/*login E*/
.scroller{position:relative;width:320px; margin:0 auto; }
.scroller{min-height:100%;}
.scroller{padding-top:15px;}
.profile-hd{padding-left:10px;width:310px;height:70px;background:url(../images/bg_wrap.png);overflow:hidden;}
.profile-uavatar{float:left;margin:8px 10px 8px 0;padding:2px;width:50px;height:50px;background:#FFF;box-shadow:0 1px 2px #787878;}
.profile-uname{padding:10px 0 0;height:24px;font:700 15px/24px Arial;overflow:hidden;}
.profile-uname em{float:left;}
.profile-uname .star {float:left;margin:7px 8px;width:42px;height:16px;overflow:hidden;}
.profile-uname .star.v0{background:url(../images/v0.gif);}
.profile-uname .star.v1{background:url(../images/v1.gif);}
.profile-uname .star.v2{background:url(../images/v2.gif);}
.profile-uname .star.v3{background:url(../images/v3.gif);}
.profile-uinfo{height:30px;overflow:hidden;}
.profile-uinfo .btn-uinfo{float:left;margin-right:5px;width:232px;height:29px;background:url(../images/bg_mobile.png) no-repeat 0 -122px;font:400 12px/29px Arial;text-align:center;color:#f36295;overflow:hidden;}.profile-uinfo .btn-uinfo:active{background-position:-116px -91px;}
.profile-bd{padding-top:10px;background:url(../images/bg_main.png);overflow:hidden;}
.itable{margin:0 10px 15px;width:298px;border:1px solid #ffb5d1;border-radius:5px;background-color:#fff;box-shadow:0 1px 0 #fff;overflow:hidden;}
.itable>.itable-item{position:relative;float:left;width:100%;height:44px;font:700 16px/44px Arial;border-bottom:1px solid #ffb5d1;background:url(../images/icon_mobile.png) no-repeat 280px -730px;text-indent:15px;overflow:hidden;}.itable-item:last-child{border-bottom:0 none;}.itable-item>a{display:block;}.itable-item>a>i{color:#f05d90;}
.itable-item>.itable-icon{text-indent:40px;background:url(../images/icon_mobile.png) no-repeat 15px -971px;}
.itable-item>.itable-tuan{background-position:15px -1168px;}.itable-item>.itable-mytimeline{background-position:15px -1206px;}
.itable-item>.itable-timeline{background-position:15px -1242px;}.itable-item>.itable-dialog{background-position:15px -1277px;}
.itable-item>.itable-notice{background-position:15px -1317px;}.itable-item>.itable-letter{background-position:15px -1357px;}
.itable-item>.itable-out{background-position:15px -1011px;}.itable-item>.itable-login-wb{background-position:15px -1051px;}
.itable-item>.itable-order{background-position:15px -452px;}.itable-item>.itable-invite{background-position:15px -615px;}
.itable-item>.itable-login-qq{background-position:15px -1093px;}.itable-item>.itable-login-tb{background-position:15px -1131px;}
.column-two>.itable-item{width:148px;border-right:1px solid #ffb5d1;background-position:132px -730px;}
.column-two>.itable-item:nth-child(2n){border-right:0 none;}
.column-two>.itable-item:nth-last-child(2){border-bottom:0 none;}
.itable .itable-input{background:none;}
.itable-item>label{float:left;width:80px;text-align:right;}
.itable-item>input{float:left;margin:10px 0;width:210px;height:24px;border:0 none;background:none;font-size:16px;color:#666;}
.itable-item.long>label{width:100px;}.itable-item.long>input{width:190px;}#captcha-item{position:relative;}
.itable-item>#check-code{position:absolute;top:7px;right:25px;width:60px;height:30px;}
.itable-item>#change-code{background:url(../images/btn_captcha_refresh_s.png);display:block;height:15px;overflow:hidden;position:absolute;right:5px;top:15px;width:20px;text-indent:99em;}
/*user E*/
<!--tao B-->
.new-ct{min-height:300px;background-color:#fff;font-family:'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;}
.new-category{padding:30px 12px 20px;}
.new-category .new-category-lst{border:1px solid #ded6c9;background-color:#fff;}
.new-category .new-category-lst .new-category-li .new-category-a,.new-category .new-category2-lst .new-category2-li .new-category2-a{border-bottom:1px solid #ded6c9;}
.new-category .new-category-lst .new-category-li:last-child .new-category-a{border-bottom:none;}
.new-category .new-category-lst .new-category-li .new-category-a{display:block;padding:11px 13px 10px;background:url(../images/icon.png) 98% -839px no-repeat;font-size:14px;color:#6e6e6e;}
.new-category .new-category-lst .new-category-li .new-category-a.new-on{background:url(../images/icon.png) 98% -893px no-repeat;}.new-category .new-category-lst .new-category-li .new-category-a .icon{display:inline-block;width:7px;height:7px;margin:0 5px 2px 0;border-radius:7px;background-color:#e4393c;}
.new-category .new-category2-lst .new-category2-li .new-category2-a{border-top:1px solid #fff;}
.new-category .new-category-lst .new-category-li:last-child .new-category2-lst .new-category2-li:first-child{border-top:1px solid #ded6c9;}.new-category .new-category-lst .new-category-li:last-child .new-category2-lst .new-category2-li:last-child .new-category2-a{border-bottom:none;}.new-category .new-category2-lst{background-color:#fff;}
.new-category .new-category2-lst .new-category2-li{display:table;width:100%;}
.new-category .new-category2-lst .new-category2-li .new-category2-a{display:table-cell;width:33.9%;padding:10px 0;font-size:23px;color:#6e6e6e;text-align:center;}
.new-category .new-category2-lst .new-category2-li .new-category2-a .new-bar{float:left;width:1px;height:12px;margin-top:3px;border-bottom:1px solid #fff;background-color:#ded6c9;vertical-align:middle;}
.new-category .new-category2-lst .new-category2-li .new-category2-a:first-child .new-bar{border:none;background:none;}


.new-cate-srch{padding:10px 12px 0;}.new-cate-srch .new-srch-box{width:auto;margin-left:0;padding-right:90px;background-color:#fff;}.new-cate-srch .new-srch-input{margin-right:0;}.new-category{padding:30px 12px 20px;}.new-category .new-category-lst{border:1px solid #ded6c9;background-color:#fff;}.new-category .new-category-lst .new-category-li .new-category-a,.new-category .new-category2-lst .new-category2-li .new-category2-a{border-bottom:1px solid #ded6c9;}.new-category .new-category-lst .new-category-li:last-child .new-category-a{border-bottom:none;}.new-category .new-category-lst .new-category-li .new-category-a{display:block;padding:11px 13px 10px;background:url(../images/icon.png) 98% -839px no-repeat;font-size:14px;color:#6e6e6e;}.new-category .new-category-lst .new-category-li .new-category-a.new-on{background:url(../images/icon.png) 98% -893px no-repeat;}.new-category .new-category-lst .new-category-li .new-category-a .icon{display:inline-block;width:7px;height:7px;margin:0 5px 2px 0;border-radius:7px;background-color:#e4393c;}.new-category .new-category2-lst .new-category2-li .new-category2-a{border-top:1px solid #fff;}.new-category .new-category-lst .new-category-li:last-child .new-category2-lst .new-category2-li:first-child{border-top:1px solid #ded6c9;}.new-category .new-category-lst .new-category-li:last-child .new-category2-lst .new-category2-li:last-child .new-category2-a{border-bottom:none;}.new-category .new-category2-lst{background-color:#fff;}.new-category .new-category2-lst .new-category2-li{display:table;width:100%;}.new-category .new-category2-lst .new-category2-li .new-category2-a{display:table-cell;width:33.9%;padding:10px 0;font-size:13px;color:#6e6e6e;text-align:center;}.new-category .new-category2-lst .new-category2-li .new-category2-a .new-bar{float:left;width:1px;height:12px;margin-top:3px;border-bottom:1px solid #fff;background-color:#ded6c9;vertical-align:middle;}.new-category .new-category2-lst .new-category2-li .new-category2-a:first-child .new-bar{border:none;background:none;}

.new-category2-li .text { line-height:2em; font-size:1.2em;  color:#666; padding:1em}
.new-category2-li .text img{width:100%;}
<!--tao E-->

a {
  color: #000;
  text-decoration: none;
}
.download-con {
  bottom: 3.7em;
  position:fixed;
  width: 100%;
  z-index: 11109;
}
.download-con .down_app {
  background:rgba(68, 68, 79, 0.95);
  display: block;
  height: 4.4em;
  line-height: 4.285em;
  margin: 0 auto;
  position: relative;
  vertical-align: middle;
  width: 100%;
}
.download-con .download-logo {
  display: inline-block;
  height: 2.785em;
  margin-left: 10px;
  vertical-align: middle;
  width: 2.785em;
}
.download-con .alogo {
  display: inline-block;
  line-height: 1.2em;
  margin-left: 1px;
  vertical-align: middle;
  width: 50%;
}
.download-con .alogo .client-name {
  color: #fff;
  font-size: 1em;
  line-height: 1.3em;
}
.download-con .open_now {
  display: inline-block;
  float: right;
  margin-right: 12px;
  vertical-align: middle;
}
.download-con .open_now .open_btn {
  background-color: #fff;
  border-radius: 0.3em;
  margin-top: 5px;
  padding: 0.3em;
  text-align: center;
  vertical-align: middle;
}
.download-con .close-btn-con {
  background-color: #1c1c1f;
  border-bottom-left-radius: 1.25em;
  display: block;
  height: 1.25em;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.25em;
}
.download-con .close-btn-con .close-btn-icon {
  background: url(../images/index.png) no-repeat 0 0 / 100% 100%;
  display: inline-block;
  height: 0.6em;
  position: absolute;
  right: 3px;
  top: 3px;
  width: 0.6em;
}

.download-con .close-btn-con{width:2.25em; height:2.25em;}
.download-con .open_now{margin-right:32px;}
.download-con .close-btn-con .close-btn-icon{height: 1em; width:1em; right:6px; top:6px;background:none;}
#weixindiv{ position: fixed;	top:0;	left:0;	width:100%;	height:100%;background:rgba(0, 0, 0, 0.7);	display:none;z-index:20000;}
#weixindiv img {position: fixed;right: 18px;top:5px;width: 260px;height: 180px;z-index:20001;}
#weixinshare{ position: fixed;	top:0;	left:0;	width:100%;	height:100%;background:rgba(0, 0, 0, 0.7);	display:none;z-index:20000;}
#weixinshare img {position: fixed;right: 18px;top:5px;width: 260px;height: 180px;z-index:20001;}

#scroller {width:1248px; height:100%; float:left;}
#wrapper {width:300px; height:153px;float:left;}
.lbt{width:300px;margin:0 auto;height:153px;position:relative;overflow:hidden;margin-top:10px}
.lbt ol{position:absolute;width:312px;height:4px;top:149px;left:0}
.lbt ol li {height:4px;background:#ccc;float:left}
.lbt ol .on {background:#f60}
.lbt ul {position:absolute;top:0;left:0;width:2000px}
.lbt ul a {display:block}
.lbt ul li img {float:left;width:300px;height:150px}

.chakan_more{background:#ec1a5b;width:99%;float:left;height:24px;line-height:24px;color:#fff;text-align:center;margin:0.5em;}



.bbac
{
	width:100%;
	margin-bottom:1em;
}
	
.bbac li
{
	width:50%;
	float:left;
}
	.ccac
	{
		float:left;
		width:100%;
		margin-bottom:1.7em;
	}
	.ccac li
	{
		width:60%;
		height:100%;
		margin:0 auto;
	}
	.w50
	{
		width:75%;
		height:4em;
		margin:0 auto;
		border:0.375em solid #643415; 
		border-radius:1.6em;
		margin-top:1.25em;
		background:-moz-linear-gradient(top, #fca9db, #ff069b); 
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fca9db), color-stop(1, #ff069b));
		box-shadow:#c89270 0 0.175em;
		position:relative;
	}
	.jfblogo
	{
		margin:auto
	}
	.jfblogo img
	{
		margin-bottom:-0.5em;
		height:1.5em;
		display:inline-block;
	}
	.jfblogo span
	{
		color:#FFF;
		vertical-align:top;
		font-size:1.5em;
		text-indent:0.5em;
	}
	.w50 p
	{
		text-align:center; 
		width:100%; 
		color:#fff; 
		font-weight:bold;
	}
	.mt10
	{
		margin-top:1em;
	}
	.mt05
	{
		margin-top:0.5em;	
	}
	.mt03
	{
		margin-top:0.3em;	
	}
	.lq_on
	{
		width:100%;
		height:4em;
		background:#000; 
		opacity:0.5; 
		color:#fff;
		border-radius:1.15em;
		position:absolute;
		text-align:center;
		vertical-align:middle;
		line-height:4em;
		font-size:1em;
		display:none;
		top:0px
	}
.p_lq
{
	text-align:center;
	margin-bottom:1em;
}
.lqbtn
{
	width:80%;
	height:2.5em;
	border-radius:1em;
	background:-moz-linear-gradient(top, #4fd075, #288e09); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4fd075), color-stop(1, #288e09));
	border:0.2em solid #643415; 
	box-shadow:#c89270 0 0.1em;
	font-size:2em;
	color:#fff;
	font-family:黑体;
}
.p_lq img
{
	width:30%;
	margin-top:0.95em;
	margin-bottom:0.95em;
}
.guize
{
	width:94%;
	border-radius:0.375em;
	background:#fff;
	margin:0 auto;
	margin-bottom:1.25em;
}
.guize p
{
	font-size:1em;
	font-weight:bold;
	padding-left:1.25em;
	line-height:1.5em;
	color:#666;
}
.guize p img
{
	width:5.2em;
	height:1.6em;
}
.guize p.title
{
	text-indent:-0.5em;
	font-size:1.5em;
	padding-top:0.5em;
}

.mu-l2w li{padding: 10px;border-top: none;overflow: hidden; line-height: 1.6em;}
.mu-l2w li a{display: block;overflow: hidden;lear: both;padding: .22em 0;}
.mu-l2w li a .mu-tmb{float:left;margin-right:8px;}
.mu-l2w li a .mu-tmb img{ width:100px; height:100px}
.mu-l2w li .pricecolor1{display: block; color:#666;}
.mu-l2w li .pricecolor1 span{color:#F00;}
.mu-l2w li .pricecolor2{display: block;margin-top:2px; font-size:1.2em;}
.mu-l2w li .pricecolor2 span{background:#060; color:#FFF; height:25px; width:80px; padding:2px 4px; margin-left:5px;font-size:12px;}
.mu-l2w li .pricecolor3{display: block;margin-top:2px; color:#666}