@charset "utf-8";
/* CSS Document */
#ad1{ width:998px; height:auto;overflow:hidden; margin:auto; margin-top:5px;}
#ad2{ width:998px; height:auto;overflow:hidden; margin:auto;  margin-top:5px;}
#ad3{ width:998px; height:auto;overflow:hidden; margin:auto;  margin-top:5px;}
#ad4{ width:248px; height:auto;overflow:hidden; margin-top:5px;}
#ad5{ width:248px; height:auto;overflow:hidden; margin-top:5px;}
#ad6{ width:248px; height:auto;overflow:hidden; margin-top:5px; border:1px solid #D0210C; text-align:center; background:#FFF}
#ad10{ width:950px; height:auto;overflow:hidden; margin:auto; margin-top:5px; margin-bottom:5px; }
#ad11{ width:950px; height:auto;overflow:hidden; margin:auto; margin-top:3px; margin-bottom:5px; }
#ad12{ width:950px; height:auto;overflow:hidden; margin:auto; margin-top:0px; }
#ad13{ width:998px; height:auto;overflow:hidden; margin:auto; margin-top:5px; border:1px solid #D0210C; text-align:center; background:#FFF}
#ad14{ width:998px; height:auto;overflow:hidden; margin:auto; margin-top:5px; border:1px solid #D0210C; text-align:center; background:#FFF}
#ad15{ width:998px; height:auto;overflow:hidden; margin:auto; margin-top:5px; border:1px solid #D0210C; text-align:center; background:#FFF}
#ad16{ width:290px; height:auto;overflow:hidden; margin:auto; margin-top:5px;}
#ad108{ width:1000px; height:auto;overflow:hidden; margin:auto; margin-top:10px;}