@charset "utf-8";
/* CSS Document */

/*
 公用
*/
#m_cat a{color:#3E3E3E;text-decoration:none;}
#m_cat .gray a,a.gray{color:#808080;}
#m_cat .blue a,a.blue{color:#36C;}
#m_cat .orange a,a.orange{color:#F60;}
#m_cat a:hover{color:#F50;text-decoration:underline;}
#m_cat .fl{float:left;}.fr{float:right;}
#m_cat .clear{clear:both;height:0px;line-height:1px;font-size:1px;width:100%; overflow:hidden;}
#m_cat .bk5,.bk10,.bk15,.bk20{clear:both;height:5px;width:100%;overflow:hidden;}
#m_cat .bk10{height:10px;}.bk15{height:15px;}.bk20{height:20px;}

#m_cat .ccc{color:#ccc;}
#m_cat .i_border a,a.i_border{border:1px #E9E9E9 solid;display:inline-block;}.i_border a:hover,a:hover.i_border{border-color:#F60;}

/*category*/
#m_cat{float:left;width:950px;padding-bottom:1px;overflow:hidden; text-align:left;}
#m_cat dl{width:940px;padding-left:8px;border-left:1px #D8D8D8 solid;border-right:1px #D8D8D8 solid;overflow:hidden;}
#m_cat dl.on,#m_cat dl.onone{border:1px #A9DEED solid;margin:-1px 0;background-color:#F3FAFC;}
#m_cat dl.onone{border-top-width:2px;}
#m_cat dl.one{border-top:1px #D8D8D8 solid;}
#m_cat dl.last{border-bottom:1px #D8D8D8 solid;margin-bottom:-1px;}
#m_cat dl.last dd{border-bottom-color:#FFF;}
#m_cat dt {width:920px;height:32px;margin:0 auto;overflow:hidden;clear:both;}
#m_cat dt a.tt{float:left;width:auto;height:18px;margin-top:11px;display:block;overflow:hidden; font-size:16px; font-weight:bold}
#m_cat dt a.t_1{background-position:0 -106px;}#m_cat dt a.t_2{background-position:0 -126px;}#m_cat dt a.t_3{background-position:0 -146px;}
#m_cat dt a.t_4{background-position:0 -166px;}#m_cat dt a.t_5{background-position:0 -186px;}#m_cat dt a.t_6{background-position:0 -206px;}
#m_cat dt a.t_7{width:102px;background-position:0 -226px;}#m_cat dt a.t_8{background-position:0 -246px;}#m_cat dt a.t_9{background-position:0 -266px;}
#m_cat dt span.text{position:absolute;height:23px;margin:4px 0 0 10px;padding-left:11px;background:url('../images/imgs_index.png') no-repeat 0 -22px;}
#m_cat dt span.text em{height:23px;padding-right:7px;display:inline-block;background:url('../images/imgs_index.png') no-repeat right -45px;}
#m_cat dt span.text em span{height:21px;line-height:21px;padding:0 3px;color:#666;display:inline-block;border-top:1px #FEBE8F solid;border-bottom:1px #FEBE8F solid;background:#FFF8D9;}
#m_cat dd{padding-bottom:7px;margin-right:8px;border-bottom:1px #F2F2F2 solid;}
#m_cat dd .box{float:left;width:220px;height:26px;line-height:27px;margin:0 8px 0 2px;display:inline;overflow:hidden;}
#m_cat dd .box a{float:left;margin-left:5px;display:inline-block;}
#m_cat dd .box a.big{font-size:14px;font-weight:bold;color:#0092D2;}
#m_cat dd .box a.big:hover{color:#FF6600;}

.taoright{ float:right; width:230px;}

.taoright .ir_cx{width:230px;clear:both;margin-top:10px;}
.taoright .ir_cxtt{position:relative;width:230px;height:33px;text-align:right;border-bottom:1px #D8D8D8 solid;background:url('../images/level_20.gif') no-repeat 18px 8px;}
.taoright .ir_cxtt em{position:absolute;height:33px;line-height:33px;width:96px;left:132px;text-align:center;border:1px #D8D8D8 solid;border-bottom:0;background:#FFF;overflow:hidden;}
.taoright .ir_cxlist{padding:0 8px;border:1px #D8D8D8 solid;border-top:0;}
.taoright .ir_cxlist dl{width:220px;height:86px;padding-top:8px;border-bottom:1px #E5E5E5 dotted;overflow:hidden;clear:both;}
.taoright .ir_cxlist dt a{float:left;width:70px;height:70px;padding:3px;text-align:center;display:block;overflow:hidden;}
.taoright .ir_cxlist dt a img{ border:#CCC 1px solid; height:70px; width:70px}
.taoright .ir_cxlist dd{float:left;width:135px;padding-left:6px;line-height:22px;display:block;}
.taoright .ir_cxlist dd a{height:42px;margin-bottom:5px;display:block;overflow:hidden;}
.taoright .ir_cxlist dd span{font-size:14px;font-family:Arial;color:#999;}
.taoright .ir_cxlist dd span b{font-family:Tahoma;margin-left:5px;color:#F50;}

.span-24 {
	width:950px;
}

input.span-24,textarea.span-24 {
	width:938px;
}

.inner-search {
	background: url('../images/pfl_merge.png') no-repeat 0 0;
	height: 110px;
	margin-top: 20px;
	margin-bottom:30px;
}

.inner-search .search-fields {
	float:left;
}

#inner-offer-q,#bottom-offer-q {
	background-color: #FFFFFF;
	border: 2px solid #666666;
	height: 24px;
	line-height: 24px;
	padding: 2px 5px;
	vertical-align: middle;
	width: 350px;
	float:left;
	z-index:77
}

#inner-offer-submit {
	background-color: #666666;
	border: none;
	cursor: pointer;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	color: #FFFFFF;
	width: 86px;
	float:left
}

/*.inner-search .search-tips {
    background-color: #FFFBE1;
    border: 1px solid #FFD893;
    border-radius: 3px;
    color: #FF6600;
    padding: 3px 10px;
	width:373px;
	margin-left:329px; margin-top:3px;
	z-index:88
}

.inner-search .search-tips-s {
	background: url("../images/arrows.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 10px;
    width: 13px;
    z-index: 3;
	margin-left:340px; margin-top:-31px;*margin-top:-32px;
	z-index:99
}*/

.inner-search .search-tips {
	position: absolute;
	left: 330px;
	top:5px;
    background-color: #FFFBE1;
    border: 1px solid #FFD893;
    border-radius: 3px;
    color: #FF6600;
    padding: 3px 10px;
    z-index: 9;
}

.inner-search .search-tips s {
	background: url("../images/arrows.png") no-repeat scroll 0 0 transparent;
    top: -9px;
    display: block;
    height: 10px;
    left: 5px;
    position: absolute;
    width: 13px;
    z-index: 3;
}

.inner-search .url-how-to {
	float:left;
	color: #333;
	text-align: right;
    width: 150px;
    text-indent: 0;
	position:relative;
	z-index:9999999
}

.inner-search .url-how-to span {
	cursor: pointer;
}

.inner-search .url-how-to .hover-tips {
	margin-top: 5px;
	background-color: #FFFBE1;
    border: 1px solid #FFD893;
    border-radius: 5px 5px;
    color: #FF6600;
    padding: 5px 10px 3px;
    z-index: 10;
    text-align: left;
    text-indent: 0;
    position: absolute;
    width: 370px;
    right: 0px;
    top: 18px;
}

.inner-search .url-how-to .hover-tips p {
	margin-bottom: 5px;
	color: #999;
	font-weight: bold;
}

.inner-search .url-how-to .hover-tips s {
	background: url("../images/arrows.png") no-repeat scroll 0 0 transparent;
    top: -9px;
    display: block;
    height: 10px;
    right: 50px;
    position: absolute;
    width: 13px;
    z-index: 3;
}

.bottom-search {
	position: relative;
	margin-top: 13px;
}

#bottom-offer-q {
	width: 354px;
	display: inline-block;
	border-color: #F87622;
}

#bottom-offer-submit {
	position: absolute;
	background-color: #F87622;
	right: 0;
	top: 0;
	*top: 1px;
	*_top: 2px;
	border: none;
	cursor: pointer;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	color: #FFFFFF;
	width: 86px;
}

#category {
	padding: 5px 0 5px 10px;
	border: 1px solid #E9E9E9;
	position: relative;
}

.category-item {
	border-top: 1px dotted #CCCCCC;
	padding: 10px 0;
	position: relative;
}

.category-all {
    border-color: #D8D8D8 #F2F2F2 #D8D8D8 #D8D8D8;
    border-style: solid;
    border-width: 1px;
    height: 90px;
    left: -35px;
    _left: -45px;
    position: absolute;
    top: -1px;
    _top: 0px;
    width: 33px;
}

.category-all h4 {
    height: 70px;
    margin: 10px 7px 10px 8px;
    overflow: hidden;
    position: relative;
    width: 18px;
    height: 91px;
}

.category-all h4 img {
    background: url("../images/pfl_merge.png") no-repeat scroll -5px -220px transparent;
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 18px;
}

.category-first {
	border-top: medium none;
}

.category-item h4 {
	color: #999;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	height: 17px;
	margin: 0 8px 0 0;
	width: auto;
}

.category-item .hot {
	color: #ff6600;
}

.category-item ul {
	line-height: 25px;
	list-style: none;
	margin: 5px 0 0;
	padding: 0;
}

.category-item li {
	float: left;
	width: 33%;
	height: 26px
}

.category-item h5 {
	color: #037BD2;
	display: inline;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	width: auto;
}

.category-item li a {
	margin-right: 5px;
	display: inline-block;
	zoom: 1;
	*display: inline
}

.category-item h5 a:link,.category-item h5 a:visited {
	color: #037BD2;
}

.m-quick-rebate .m-header {
	background: #ffbb00;
	color: #fff;
	text-shadow: none;
}

.m-quick-rebate .quick-rebate {
	text-decoration: none;
	border-bottom: 1px dashed #f1f1f1;
	display: block;
	width: 250px;
	_width: 248px;
	height: 60px;
	overflow: hidden;
	background-color: #fff;
	background: url('../images/prom/quick/q_merge.png') no-repeat -300px 0;
	text-indent: -9999em;
}

.m-quick-rebate .lady {
	background-position: 0 0;
}

.m-quick-rebate .beauty {
	background-position: 0 -65px;
}

.m-quick-rebate .shoes {
	background-position: 0 -130px;
}

.m-quick-rebate .man {
	background-position: 0 -195px;
}

.m-quick-rebate .digital {
	background-position: 0 -260px;
}

.m-quick-rebate .baby {
	background-position: 0 -325px;
}

.m-quick-rebate .eat {
	background-position: 0 -390px;
}

.quick-rebate-link {
    background: url("../images/pfl_merge.png") no-repeat scroll 16px -175px transparent;
    display: inline-block;
    margin: 6px 0 0;
    padding: 2px 0 2px 28px;
    width: 92px;
}

.tab-hd {
	background-color: #F9F9F9;
	color: #404040;
	height: 29px;
	border-bottom: 1px solid #E9E9F9;
}

.tab-hd ul {
	margin-left: 7px;
	padding-top: 4px;
}

.tab-hd li {
	float: left;
	height: 24px;
	line-height: 22px;
	padding: 0 7px;
	text-align: center;
	width: 70px;
	cursor: pointer;
}

.tab-hd li.current {
	border: 1px solid #E9E9E9;
	border-bottom: none;
	background-color: #fff;
	font-weight: bold;
	position: relative;
	margin-left: -1px;
	margin-right: -1px;
	border-bottom: 1px solid #fff;
}

.tab-bd {
	padding: 5px;
}

.tab-bd .tab-panel {
	display: none;
}

#recharge {
	margin-bottom: 10px;
}

#recharge h3 {
	margin: 0;
	background-color: #4EA205;
	font-size: 1.15em;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
    color: #fff;
}

.recom {
	border: 1px solid #E9E9E9;
	margin-bottom: 10px;
	overflow: hidden;
    color: #aaa;
}

.recom .tab-bd {
	height: 350px;
}

.recom .hot-list li,.recom .actively-list li {
	display: inline;
	float: left;
	height: 80px;
	margin: 15px 3px;
	overflow: hidden;
	width: 80px;
}

.recom .hot-list li {
	text-align: center;
	height: 102px;
	margin: 8px 2px;
}

.recom .hot-list li img {
	margin: 0 0 5px;
}

.recom a {
	display: inline-block;
	text-decoration: none;
	color: #aaa;
}

.recom .idea80,.recom .idea250 {
	border-bottom: 1px dashed #eee;
}

.recom .idea80 a {
	padding: 0 2px;
	margin: 10px 0;
	height: 80px;
	width: 80px;
}

.recom .idea250 {
	padding: 0 0 10px 0;
	position: relative;
}

.recom .idea250 a {
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	display: block;
	height: 65px;
	overflow: hidden;
	background: #fff;
	filter:alpha(opacity=0);
	opacity: 0;
	-moz-opacity: 0.00;
}

.recom .idea250 .bottom {
	top: 70px;
}

.recom .idea50 li {
    display: inline;
	float: left;
	padding: 0;
	width: 62px;
	margin: 10px 0;
	text-align: center;
	word-wrap: break-word;
	font-size: 11px;
}

.recom .idea50 img {
	padding: 0 10px;
	_padding: 0 7px;
}