@charset "utf-8";

.zhidecontainer {
	width:1000px;
	margin:0 auto;
	text-align:left
}
a {
	text-decoration:none
}
a:active {
	outline:none
}
a.green:link,a.green:visited,.green {
	color:#060
}
a.green:hover,a.green:active {
	color:#F60
}
a.aqua:link,a.aqua:visited,.aqua {
	color:#8B3
}
a.aqua:hover,a.aqua:active {
	color:#F60
}
a.white:link,a.white:visited,.white {
	color:#FFF
}
a.white:hover,a.white:active {
	color:#FFF
}
a.red:link,a.red:visited,.red {
	color:#FE4300
}
a.red:hover,a.red:active {
	color:#F60
}
a.blue:link,a.blue:visited,.blue {
	color:#0087D5
}
a.blue:hover,a.blue:active {
	color:#F60
}
a.orange:link,a.orange:visited,.orange {
	color:#F60
}
a.orange:hover,a.orange:active {
	color:#F60
}
a.zero:link,a.zero:visited,.zero {
	color:#000
}
a.zero:hover,a.zero:active {
	color:#F60
}
a.three:link,a.three:visited,.three {
	color:#333
}
a.three:hover,a.three:active {
	color:#F60
}
a.six:link,a.six:visited,.six {
	color:#666
}
a.six:hover,a.six:active {
	color:#F60
}
a.nine:link,a.nine:visited,.nine {
	color:#999
}
a.nine:hover,a.nine:active {
	color:#F60
}
a.ccc:link,a.ccc:visited,.ccc {
	color:#ccc
}
a.ccc:hover,a.ccc:active {
	color:#F60
}
a.under:link,a.under:visited {
	text-decoration:none
}
a.under:hover,a.under:active {
	text-decoration:underline
}
a.underline:link,a.underline:visited {
	text-decoration:underline
}
a.underline:hover,a.underline:active {
	text-decoration:underline
}
.arial {
	font-family:Helvetica,Arial,'SimSun',sans-serif
}
.tahoma {
	font-family:Tahoma,Geneva,'SimSun',sans-serif
}
.yahei {
	font-family:'Hiragino Sans GB','Microsoft YaHei','SimSun',sans-serif
}
.simsun {
	font-family:'SimSun',sans-serif
}
.money {
	font-family:Helvetica,Arial,'Hiragino Sans GB','Microsoft YaHei','SimSun',sans-serif
}
.bold {
	font-weight:bold
}

.l {
	float:left
}
.r {
	float:right
}

.clearfix:after,.container:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	overflow:hidden;
	font-size:0
}
.clearfix,.container {
	*zoom:1
}
.topbar {
	height:28px;
	line-height:28px;
	color:#FFF;
	background:#898989
}
.topbar a {
	color:#FFF
}
.topbar a:hover {
	color:#3DFF60;
	text-decoration:underline
}
.topbar .container {
	position:relative;
	z-index:1000
}
.topbar-r {
	position:absolute;
	right:0;
	top:0;
	height:28px
}
.topbar-nav li {
	float:left;
	position:relative;
	_height:28px;
	padding-left:10px;
	margin-left:8px;
	background:url(../images/ico-topbar-v3.alpha.png) -168px 8px no-repeat
}
.topbar-nav li.first {
	padding-left:0;
	margin-left:0;
	background:none
}
.topbar-nav .ico-topbar {
	display:inline-block;
	*display:inline;
	zoom:1;
	width:16px;
	height:16px;
	margin-right:4px;
	overflow:hidden;
	vertical-align:middle;
	background:url(../images/ico-topbar-v3.alpha.png) no-repeat;
	vertical-align:middle;
	cursor:pointer
}
.topbar-nav .ico-gy {
	background-position:-80px -17px;
	_margin-top:5px
}
.topbar-nav .menu-hd {
	padding:0 18px 0 4px;
	position:relative;
	z-index:3;
	_width:0;
	height:27px;
	border:1px solid #898989;
	border-bottom:0;
	line-height:27px;
	_white-space:nowrap
}
.topbar-nav .menu-hd .arrow,.topbar-nav .menu-hd .ico-arrow {
	display:block;
	position:absolute;
	overflow:hidden;
	font-size:0;
	line-height:0;
	pointer-events:none;
	cursor:pointer
}
.topbar-nav .menu-hd .arrow {
	right:4px;
	top:11px;
	width:0;
	height:0;
	border-width:5px;
	border-style:solid;
	border-color:#FFF #898987 #898987
}
.topbar-nav .menu-hd .ico-arrow {
	right:1px;
	top:6px;
	width:16px;
	height:16px;
	background:url(../images/ico-topbar-v3.alpha.png) -144px 0 no-repeat
}
.topbar-nav .menu-bd {
	display:none;
	position:absolute;
	left:0;
	top:27px;
	z-index:2;
	border:1px solid #9A9A9A;
	background:#FFF
}
.topbar-nav .menu-bd dd {
	white-space:nowrap
}
.topbar-nav .menu-bd a {
	display:block;
	_width:0;
	height:28px;
	_height:22px;
	_padding-top:6px;
	color:#333
}
.topbar-nav .menu-bd a:hover {
	color:#3DC054
}
.topbar-nav .menu-bd i {
	display:inline-block;
	*display:inline;
	zoom:1;
	width:16px;
	height:16px;
	margin-right:6px;
	vertical-align:middle;
	background:url(../images/ico-topbar-v3.alpha.png) no-repeat
}
.topbar-nav .menu-bd i.ico-login1 {
	background-position:0 -16px
}
.topbar-nav .menu-bd i.ico-login2 {
	background-position:-16px -16px
}
.topbar-nav .menu-bd i.ico-login3 {
	background-position:-32px -16px
}
.topbar-nav .menu-bd i.ico-login4 {
	background-position:-48px -16px
}
.topbar-nav .menu-bd i.ico-user1 {
	background-position:0 0
}
.topbar-nav .menu-bd i.ico-user2 {
	background-position:-16px 0
}
.topbar-nav .menu-bd i.ico-user3 {
	background-position:-32px 0
}
.topbar-nav .menu-bd i.ico-user4 {
	background-position:-48px 0
}
.topbar-nav .menu-bd i.ico-user5 {
	background-position:-64px 0
}
.topbar-nav .menu-bd i.ico-nmenu1 {
	background-position:-80px 0
}
.topbar-nav .menu-bd i.ico-nmenu2 {
	background-position:-96px 0
}
.topbar-nav .menu-bd i.ico-nmenu3 {
	background-position:-16px -16px
}
.topbar-nav .menu-bd i.ico-nmenu4 {
	background-position:-112px 0
}
.topbar-nav .menu-bd i.ico-nmenu5 {
	background-position:-64px -16px
}
.topbar-nav .menu-bd i.ico-nmenu6 {
	background-position:-32px -32px
}
.topbar-nav li.nav-hover .menu-hd {
	border-color:#9A9A9A;
	background:#FFF
}
.topbar-nav li.nav-hover .menu-hd a {
	color:#3DC054
}
.topbar-nav li.nav-hover .menu-hd .arrow {
	top:7px;
	border-color:#FFF #FFF #3DC054
}
.topbar-nav li.nav-hover .menu-hd .ico-arrow {
	background-position:-128px 0
}
.topbar-nav li.nav-hover .menu-bd {
	display:block
}
.topbar-nav .menu-login {
	padding:0 6px
}
.topbar-nav .menu-login dd.dashed {
	border-bottom:1px dotted #DBDBDB
}
.topbar-nav .menu-name {
	display:block;
	overflow:hidden;
	max-width:80px
}
.topbar-nav .menu-user dd {
	border-top:1px dotted #DBDBDB
}
.topbar-nav .menu-user dd a {
	padding:0 10px
}
.topbar-nav .menu-guide {
	width:180px
}
.topbar-nav .menu-guide dd {
	float:left;
	width:90px;
	border-bottom:1px dotted #DBDBDB
}
.topbar-nav .menu-guide dd a {
	padding-left:9px
}
.topbar-msg a {
	display:block;
	width:37px;
	height:13px;
	margin-top:7px;
	overflow:hidden;
	line-height:13px;
	color:#FFF
}
.topbar-msg a:hover {
	color:#FFF
}
.topbar-msg i {
	display:block;
	float:left;
	width:16px;
	height:13px;
	margin-right:2px;
	overflow:hidden;
	background:url(../images/ico-topbar-v3.alpha.png) -96px -18px no-repeat;
	cursor:pointer
}
.topbar-msg .msg-span {
	float:left;
	display:block;
	width:19px;
	height:32px;
	margin-top:-32px
}
.topbar-msg em {
	display:block;
	float:left;
	width:19px;
	height:13px;
	overflow:hidden;
	border-radius:2px;
	text-align:center;
	background:none;
	cursor:pointer
}
.topbar-msg a.e0 span {
	margin-top:0
}
.topbar-msg a.e0 em {
	color:#FFF;
	background:none
}
.topbar-msg a.e2 em {
	background:#32E356
}
.topbar-msg a.e3 em {
	background:#32E356
}
.topbar-shopvip {
	position:absolute;
	top:28px;
	left:0;
	width:180px;
	padding:5px 10px;
	border:1px solid #FFCC97;
	background:#FFC;
	line-height:20px;
	color:#333;
	white-space:nowrap
}
.topbar-shopvip i {
	display:block;
	position:absolute;
	left:17px;
	top:-8px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	pointer-events:none;
	cursor:pointer;
	width:0;
	height:0;
	border-width:4px;
	border-style:solid;
	border-color:#898987 #898987 #FFC
}
.topbar-shopvip a:hover,.topbar-shopvip a:active {
	color:#F60
}
.topbar-nav .btn-budou {
	display:block;
	width:50px;
	height:18px;
	margin-top:5px;
	overflow:hidden;
	border-radius:2px;
	line-height:18px;
	text-align:center;
	background:#61A5F9
}
.topbar-nav .btn-budou:hover {
	color:#4475B2;
	text-decoration:none;
	background:#94C4FF
}
.topbar-nav .topbar-cs-box {
	padding-left:0
}
.topbar-nav .topbar-cs-hover {
	background:#fff;
	border:1px solid #898989;
	margin-left:6px
}
.topbar-cs {
	position:relative;
	width:90px;
	zoom:1
}
.topbar-cs .btn-hc {
	display:block;
	color:#54FD73;
	overflow:hidden;
	margin-top:5px;
	height:22px;
	line-height:20px
}
.topbar-cs .btn-cs {
	display:none;
	height:22px;
	margin-top:5px;
	overflow:hidden;
	line-height:20px;
	white-space:nowrap
}
.topbar-cs .btn-cs:hover {
	color:#3DC054
}
.topbar-cs .ico-cs {
	display:block;
	float:left;
	width:15px;
	height:15px;
	margin:1px 5px 0 8px;
	_margin:1px 5px 0 4px
}
.topbar-cs .tel {
	display:none;
	white-space:nowrap;
	color:#849184;
	text-align:center
}
.topbar-cs .ico-hc {
	display:block;
	float:left;
	width:15px;
	height:16px;
	margin:2px 5px 0 8px;
	_margin:2px 5px 0 4px;
	background-position:0 -34px
}
.topbar-cs-on .btn-cs {
	color:#3DFF60
}
.topbar-cs-on .ico-cs {
	background-position:-114px -16px
}
.topbar-cs-hover .topbar-cs-off .btn-cs {
	color:#bbb;
	height:19px;
	border-bottom:none
}
.topbar-cs-hover .topbar-cs-off .btn-cs:hover {
	color:#bbb
}
.topbar-cs-off .ico-cs {
	background-position:-132px -16px
}
.topbar-cs-hover .topbar-cs {
	display:block
}
.topbar-cs-hover .btn-cs {
	display:block;
	color:#849184;
	border-bottom:1px dotted
}
.topbar-cs-hover .tel {
	display:block
}
.topbar-cs-hover .ico-hc {
	background-position:-16px -34px
}
.topbar-cs-hover .btn-hc {
	color:#849184;
	border-bottom:1px dotted
}
.topbar-cs-hover .btn-hc:hover {
	color:#3DC054
}



.zdm-input {
	border:1px solid #EDECEC;
	padding:10px;
	line-height:20px;
	font-size:14px;
	color:#333;
	width:510px
}
.zdm-body {
	padding:10px 0;
}
.zdm-crumb {
	height:20px;
	margin:-10px 0 10px;
	_margin:0 0 10px;
	line-height:20px
}
.zdm-crumb i {
	margin:0 3px
}
.zdm-article {
	float:left;
	width:777px
}
.zdm-aside {
	float:right;
	width:212px
}
.zdm-pages {
	padding:40px 0;
	color:#333
}
.zdm-pages a,.zdm-pages span {
	margin-right:5px
}
.zdm-pages a:link,.zdm-pages a:visited {
	color:#333
}
.zdm-pages .current {
	background-color:#F60;
	border-color:#F60
}
.zdm-pages a:hover,.zdm-pages a:active {
	background-color:#F60;
	color:#FFF;
	border-color:#F60
}
.zdm-pages .disable {
	color:#D9D9D9;
	border:1px solid #ccc
}
.zdm-border {
	border:1px solid #DFDFDF;
	background:#fff
}
.zdm-box {
	width:210px;
	border:1px solid #DFDFDF;
	background:#FFF;
	margin-bottom:10px
}
.zdm-box .hd {
	height:40px;
	padding:0 15px;
	border-bottom:1px solid #EEEEF1;
	line-height:40px
}
.zdm-box h3 {
	font-size:16px;
	color:#333
}
.zdm-box h3 a:link,.zdm-box h3 a:visited,.zdm-box h3 a:hover,.zdm-box h3 a:active {
	color:#333
}
.aside-ranking {
	overflow:hidden
}
.aside-ranking h3
i {
	display:inline-block;
	width:21px;
	height:29px;
	margin:5px 5px 0 0;
	vertical-align:-3px;
	background:url(../images/bg-icon-v3.png) 0 -34px no-repeat
}
.aside-ranking-item {
	position:relative;
	display:block;
	width:172px;
	border-bottom:1px solid #EDEEEF;
	padding:15px 19px;
	line-height:20px;
	color:#666;
	word-wrap:break-word;
	word-break:break-all;
	overflow:hidden;
	text-align:center
}
.aside-ranking-item a p img{ height:120px; width:120px}
.aside-ranking-item a {
	color:#666
}
.aside-ranking-item a:hover {
	color:#f60
}
.aside-ranking-item a p.text {
	text-align:left;
	height:38px;
	line-height:20px;
	text-overflow:ellipsis;
	overflow:hidden
}
.aside-ranking-item .comment-num {
	position:absolute;
	left:10px;
	top:10px;
	height:16px;
	line-height:16px;
	font-size:12px;
	color:#fff;
	font-family:Arial;
	border:1px solid #da651f;
	padding:0 4px;
	text-align:center;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	background:#f6772a
}
.aside-ranking-item .comment-num i {
	position:absolute;
	bottom:-5px;
	left:4px;
	display:block;
	width:6px;
	height:5px;
	background:url(../images/bg-icon-v3.png) 0 -65px no-repeat
}
.aside-review-item {
	display:block;
	width:172px;
	border-bottom:1px solid #EDEEEF;
	padding:15px 19px;
	line-height:20px;
	color:#666;
	word-wrap:break-word;
	word-break:break-all;
	overflow:hidden
}
.aside-review-item:hover {
	color:#F60
}
.aside-review-item img {
	vertical-align:middle;
	margin-bottom:5px
}
.aside-guide-item {
	display:block;
	width:170px;
	border-bottom:1px solid #EDEEEF;
	padding:15px 20px;
	line-height:20px;
	color:#666
}
.aside-guide-item:hover {
	color:#F60
}
.aside-guide-item img {
	vertical-align:middle;
	margin-bottom:5px
}
.aside-hot {
	width:165px;
	padding:10px 15px;
	color:#CBCBCB
}
.aside-hot li {
	height:30px;
	padding-left:12px;
	line-height:30px;
	background:url(../images/bg-list3.png) no-repeat 0 -260px;
	overflow:hidden
}
.zdm-pub-box {
	border:1px solid #DFDFDF;
	background:#FFF;
	padding-top:10px;
	margin-bottom:10px;
	text-align:center;
	line-height:25px;
	color:#747474
}
.zdm-pub-box strong {
	color:#FD4401
}
.zdm-pub-box h3 {
	font-size:16px;
	color:#000
}
.zdm-pub-list {
	text-align:left;
	list-style:disc;
	margin-left:15px;
	padding:10px 0 10px 25px
}
.zdm-pub-qqgroup {
	padding:9px 0;
	background:#FFF1E8;
	line-height:16px;
	color:#555
}
.zdm-pub-qqgroup i {
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:middle;
	width:16px;
	height:16px;
	margin:0 5px 0 0;
	background:url(../images/bg-icon-v3.png) no-repeat 0 -16px
}
.btn-aside-pub {
	width:160px;
	margin:9px auto 0
}
.zdm-hot {
	margin-bottom:10px;
	padding:10px 17px;
	border:2px solid #D3E1B9;
	background:#F6FFE6;
	line-height:29px;
	color:#555
}
.zdm-hot h3 {
	font-size:16px;
	font-weight:bold
}
.zdm-hot li {
	float:left;
	width:210px;
	height:29px;
	padding:0 8px 0 12px;
	font-size:14px;
	color:#CBCBCB;
	background:url(../images/bg-list3.png) no-repeat 0 -260px;
	overflow:hidden
}
.zdm-hot a {
	white-space:nowrap
}
.zdm-hot a:link,.zdm-hot a:visited {
	color:#555
}
.zdm-hot a:hover,.zdm-hot a:active {
	color:#F60
}
.zdm-tag {
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:middle;
	height:16px;
	border-radius:2px;
	margin:-1px 0 0 5px;
	padding:0 5px;
	font-size:12px;
	line-height:15px;
	color:#FFF;
	overflow:hidden
}
.zdm-tag-ceo {
	background:#FE4300
}
.zdm-tag-editor {
	background:#FFA800
}
.zdm-tag-hot {
	background:#f67629
}
.zdm-tag-new {
	background:#3dc054
}
.zdm-top-promote {
	border:1px solid #DFDFDF;
	background:#FFF;
	position:relative;
	margin-bottom:10px
}
.zdm-top-promote ul {
	padding:20px 10px 10px 48px
}
.zdm-top-promote li {
	font-size:16px;
	font-weight:bold;
	margin-bottom:15px;
	line-height:20px;
	position:relative
}
.zdm-top-promote li a{ font-size:16px; font-weight:bold}

.zdm-top-promote li .dot {
	position:absolute;
	left:-15px;
	top:5px;
	width:10px;
	height:10px;
	background:url(../images/bg-list3.png) no-repeat scroll 0 -270px
}
.zdm-top-promote li .red {
	margin-left:5px
}
.zdm-top-promote .label {
	position:absolute;
	left:0;
	top:0;
	width:50px;
	height:50px;
	background:url(../images/bg-icon-v3.png) no-repeat 0 -72px
}
.zdm-list {
	border:1px solid #DFDFDF;
	background:#FFF;
	padding-bottom:10px
}
.zdm-list .hd {
	position:relative;
	height:40px;
	border-bottom:1px solid #EEEEF1;
	line-height:40px
}

.zdm-list-item {
	padding:15px 10px 0 30px;
	zoom:1
}
.zdm-list-item .t {
	margin-bottom:20px;
	font-size:20px;
	font-weight:bold;
	line-height:30px;
	zoom:1
}
.zdm-list-item .t a {color:#333; font-size:20px; font-weight:bold}
.zdm-list-item .t a:active,.zdm-list-item .t a:hover {
	color:#FE4300
}
.zdm-list-item .t .t-sub {
	margin-left:8px
}
.item-expired {
	position:relative
}
.item-expired .t a,.item-expired .t .red,.item-expired .t a:active,.item-expired .t a:hover {
	color:#999
}
.item-expired .ico-expired {
	width:14px;
	line-height:16px;
	padding:5px 3px;
	background:#ccc;
	color:#fff;
	display:block;
	position:absolute;
	left:6px;
	top:24px;
	_left:-24px
}
.item-no-expired .lowest-network,.item-no-expired .record-low {
	display:block;
	position:absolute;
	left:6px;
	top:20px;
	_left:-24px;
	width:17px;
	height:62px;
	background:url(../images/bg-list3.png) no-repeat 0 -464px;
	text-indent:-99999px
}
.item-no-expired .record-low {
	background:url(../images/bg-list3.png) no-repeat 0 -528px
}
.zdm-list-item .item-img {
	float:right;
	width:215px;
	line-height:20px;
	text-align:center;
	color:#999
}
.zdm-list-item .item-img a{ color:#FFF}
.zdm-list-item .item-img .img {display:block;margin:0 auto;text-align:center;}
.zdm-list-item .item-img .img img{ width:200px; height:200px}
.zdm-list-item .item-img .btn-zdm-goshop,.zdm-list-item .item-img .btn-zdm-nofanli {
	margin:20px auto 0
}
.zdm-list-item .item-info {
	float:left;
	width:465px;
	font-size:13px;
	line-height:25px;
	color:#333
}
.zdm-list-item .item-time {
	float:left;
	height:20px;
	margin-right:25px;
	padding-left:22px;
	background:url(../images/bg-list3.png) no-repeat 0 2px;
	line-height:20px;
	color:#999
}
.zdm-list-item .item-type,.zdm-list-item .item-user {
	float:left;
	height:20px;
	margin-right:20px;
	line-height:20px;
	color:#999
}
.zdm-list-item .item-user img {
	vertical-align:middle
}
.zdm-list-item .item-comment {
	float:right;
	height:20px;
	line-height:20px;
	color:#999;
	padding-left:22px;
	background:url(../images/bg-list3.png) no-repeat 0 -18px
}
.zdm-list-item .item-comment em {
	color:#4890CB
}
.zdm-list-item .item-content {
	height:auto !important;
	height:200px;
	max-height:200px;
	overflow:hidden;
	clear:both;
	padding-top:20px;
	line-height:25px;
	color:#555
}
.zdm-list-item .item-content *{ font-size:13px; line-height:25px}
.zdm-list-item .item-toggle {
	height:25px;
	padding:20px 10px 0 0;
	font-size:12px;
	text-align:right
}
.zdm-list-item .item-toggle a {
	display:none
}
.zdm-list-item .item-content a {
	color:#0087D5
}
.zdm-list-item .item-content a:active,.zdm-list-item .item-content a:hover {
	color:#FE4300
}
.zdm-list-item .item-more {
	padding-top:20px;
	text-align:right
}
.zdm-list-item .item-vote {
	clear:both;
	position:relative;
	z-index:20;
	height:35px;
	border-top:15px solid #FFF;
	padding:0 15px;
	background:#F3F3F3;
	border-bottom:1px solid #EDEDED;
	line-height:35px;
	color:#555
}
.item-vote-t {
	width:65px
}
.item-vote-yes {
	display:block;
	height:35px;
	padding-left:40px;
	background:url(../images/bg-list3.png) no-repeat 10px -118px;
	font-size:14px;
	color:#555
}
.item-vote-yes:hover {
	background-position:10px -186px;
	color:#F60
}
.item-vote-no {
	display:block;
	height:35px;
	margin-right:30px;
	padding-left:40px;
	background:url(../images/bg-list3.png) no-repeat 10px -151px;
	font-size:14px;
	color:#555
}
.item-vote-no:hover {
	background-position:10px -219px;
	color:#F60
}
.item-vote-tips {
	position:absolute;
	width:auto;
	_width:0;
	height:33px;
	margin-bottom:0;
	margin-left:0;
	padding:0 20px;
	font-size:14px;
	font-weight:bold;
	line-height:33px;
	white-space:nowrap;
	z-index:101
}
.item-vote-tips .tip-arrow {
	left:50%;
	margin-left:-7px
}
.zdm-page-list-item
.t {
	font-size:18px
}
.item-view-comment {
	display:block;
	height:35px;
	padding-left:32px;
	background:url(../images/bg-list3.png) no-repeat 4px -397px;
	font-size:14px;
	color:#555
}

.btn-zdm-red {
	display:block;
	height:43px;
	background:#F6772A;
	border-bottom:2px solid #C66240;
	font-size:16px;
	font-weight:bold;
	line-height:43px;
	color:#FFF;
	text-align:center
}
.btn-zdm-red:hover,.btn-zdm-red:active {
	background:#FC8B47
}
.zdm-sidebar {
	display:block;
	width:120px;
	position:fixed;
	top:169px;
	z-index:100
}
.zdm-sidebar .hd {
	line-height:30px;
	font-size:14px;
	font-weight:400;
	background:#F67629 url(../images/ico-sidebar-v3.alpha.png) no-repeat center -739px;
	color:#fff
}
.zdm-sidebar .hd span {
	display:block;
	padding-left:40px;
	text-align:left;
	background:url(../images/ico-sidebar-v3.alpha.png) no-repeat
}
.zdm-sidebar .hd span.hd-area {
	background-position:10px 0
}
.zdm-sidebar .hd span.hd-cat {
	background-position:10px -33px
}
.zdm-sidebar ul {
	border:1px solid #DFDFDF;
	border-top-width:0;
	background:#fff;
	padding:10px 0
}
.zdm-sidebar li {
	line-height:28px;
	height:28px
}
.zdm-sidebar a {
	padding-left:44px;
	display:block;
	background:url(../images/ico-sidebar-v3.alpha.png) no-repeat
}
.zdm-sidebar .current a,.zdm-sidebar a:hover {
	font-weight:600;
	color:#F67629
}
.zdm-sidebar .ico-area1 {
	background-position:10px -645px
}
.zdm-sidebar .ico-area2 {
	background-position:10px -705px
}
.zdm-sidebar .ico1 {
	background-position:10px -345px
}
.zdm-sidebar .ico2 {
	background-position:10px -375px
}
.zdm-sidebar .ico3 {
	background-position:10px -405px
}
.zdm-sidebar .ico4 {
	background-position:10px -435px
}
.zdm-sidebar .ico5 {
	background-position:10px -466px
}
.zdm-sidebar .ico6 {
	background-position:10px -498px
}
.zdm-sidebar .ico7 {
	background-position:10px -527px
}
.zdm-sidebar .ico8 {
	background-position:10px -557px
}
.zdm-sidebar .ico9 {
	background-position:10px -587px
}
.zdm-sidebar .current .ico-area1,.zdm-sidebar .ico-area1:hover {
	background-position:10px -615px
}
.zdm-sidebar .current .ico-area2,.zdm-sidebar .ico-area2:hover {
	background-position:10px -675px
}
.zdm-sidebar .current .ico1,.zdm-sidebar .ico1:hover {
	background-position:10px -75px
}
.zdm-sidebar .current .ico2,.zdm-sidebar .ico2:hover {
	background-position:10px -105px
}
.zdm-sidebar .current .ico3,.zdm-sidebar .ico3:hover {
	background-position:10px -135px
}
.zdm-sidebar .current .ico4,.zdm-sidebar .ico4:hover {
	background-position:10px -165px
}
.zdm-sidebar .current .ico5,.zdm-sidebar .ico5:hover {
	background-position:10px -196px
}
.zdm-sidebar .current .ico6,.zdm-sidebar .ico6:hover {
	background-position:10px -228px
}
.zdm-sidebar .current .ico7,.zdm-sidebar .ico7:hover {
	background-position:10px -257px
}
.zdm-sidebar .current .ico8,.zdm-sidebar .ico8:hover {
	background-position:10px -287px
}
.zdm-sidebar .current .ico9,.zdm-sidebar .ico9:hover {
	background-position:10px -317px
}
.item-guide-img {
	margin-top:40px
}
#infscr-loading {
	padding:8px 0;
	text-align:center;
	vertical-align:middle;
	color:#999;
	clear:both
}
#infscr-loading div,#infscr-loading img {
	display:inline-block;
	*display:inline
}
.footer-fa {
	visibility:hidden
}

.zdm-top-shop {
	margin-bottom:15px;
	border-width:1px;
	border-style:solid;
	border-color:#ececec #e0e0e0 #cdcdcd;
	box-shadow:0 1px 1px #e0e0e0;
	background:#fff;
	padding:11px 0 11px 11px;
	line-height:23px;
	font-size:13px
}
.zdm-top-shop .dt {
	float:left;
	padding:0 10px;
	color:#bbb
}
.zdm-top-shop .zdm-top-shop-tabs {
	overflow:hidden
}
.zdm-top-shop .zdm-top-shop-tabs a {
	display:inline-block;
	padding:0 15px;
	margin:0 10px 3px 0;
	border-radius:2px
}
.zdm-top-shop .zdm-top-shop-tabs a.current {
	background:#ffa800;
	color:#fff
}
.zdm-top-shop .zdm-top-shop-tabs a.current:hover {
	color:#fff
}
.zdm-expand-wrap {
	position:relative;
	margin-top:10px;
	width:653px;
	background:#fff;
	padding:15px 20px;
	border:1px solid #ddd;
	line-height:30px;
	text-align:left
}

.zdm-expand-wrap-loading {
	padding-top:22px;
	padding-bottom:22px;
	text-align:center;
	line-height:16px
}
.zdm-expand-wrap-loading img,.zdm-expand-wrap-loading span {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle
}
.zdm-expand-wrap-loading img {
	margin-right:5px;
	width:16px;
	height:16px
}
.zdm-expand-wrap-loading span {
	color:#999;
	font-size:12px
}
.zdm-expand-comment {
	line-height:30px
}
.zdm-expand-comment .hd {
	margin-bottom:10px
}
.zdm-expand-comment .hd h3 {
	font-size:16px
}
.zdm-expand-comment .bd {
	overflow:hidden
}
.zdm-expand-comment .J-comment-list {
	margin-bottom:6px
}
.zdm-expand-comment .item {
	margin-bottom:10px;
	padding:0 0 5px;
	border-bottom:1px dotted #bbb;
	*zoom:1
}
.zdm-expand-comment .item-l {
	width:46px;
	padding-top:5px
}
.zdm-expand-comment .item-l img {
	display:block;
	width:32px;
	height:32px
}
.zdm-expand-comment .item-r {
	width:607px;
	line-height:22px
}
.zdm-expand-comment .item-r .quote {
	background:#f3f3f3;
	color:#999;
	margin-bottom:5px;
	padding:15px;
	word-wrap:break-word;
	word-break:break-all;
	overflow:hidden
}
.zdm-expand-comment .item-r .floor {
	margin-left:10px
}
.zdm-expand-comment .quote {
	margin-top:5px;
	vertical-align:middle;
	font-size:12px
}
.zdm-expand-comment .quote .name {
	font-weight:600
}
.zdm-expand-comment .quote .msg {
	margin-left:2px;
	color:#555
}

.zdm-expand-comment .mark-l {
	background-position:0 -63px
}
.zdm-expand-comment .mark-r {
	background-position:-25px -63px
}
.zdm-expand-comment .item-r .name {
	font-size:12px;
	font-family:"arial";
	color:#333;
	font-weight:600
}
.zdm-expand-comment .item-r .detail {
	font-size:12px;
	color:#666;
	font-weight:400
}
.zdm-expand-comment .item-face {
	width:52px;
	height:52px
}
.zdm-expand-comment .item .time i {
	margin-right:20px
}
.zdm-expand-comment .expand-item-more {
	margin-top:-6px;
	text-align:left
}
.zdm-expand-comment .ft-btn {
	padding-top:3px;
	line-height:25px;
	text-align:right
}
.zdm-expand-comment .pub-left {
	float:left;
	line-height:25px;
	margin-right:10px;
	color:#666;
	font-size:12px
}
.zdm-expand-comment .pub-left-active {
	border-color:#ffae3b
}
.zdm-expand-comment .pub-left strong {
	font-size:18px;
	font-family:"Times New Roman","arial";
	color:#f00;
	font-weight:400
}
.zdm-expand-comment .loading-status {
	position:absolute;
	left:0;
	top:0;
	background:#fff;
	opacity:0.3;
	-moz-opacity:0.3;
	filter:alpha(opacity=30)
}
.zdm-expand-comment .success-status {
	position:absolute;
	left:50%;
	top:2px;
	background:#fff;
	margin-left:-110px;
	width:221px;
	height:80px;
	padding-top:12px;
	border:1px solid #eaeaea;
	box-shadow:1px 1px 2px #dbdbdb;
	text-align:center;
	font-size:18px;
	color:#555;
	line-height:28px
}
.zdm-expand-comment .success-status i {
	display:block;
	margin:0 auto;
	width:45px;
	height:39px;
	background:url(../images/comment-expand-alpha-v2.png) no-repeat 0 -21px
}
.zdm-expand-comment .btn-zdm {
	float:right;
	padding:0 17px;
	height:25px;
	background:#f67629;
	border-radius:2px;
	line-height:25px;
	font-size:14px;
	color:#fff
}
.zdm-expand-comment .btn-zdm-loading {
	background-color:#c2c2c2
}
.zdm-expand-comment .btn-zdm:hover {
	background:#f98c4b
}
.zdm-expand-comment .comment-tips {
	padding-left:24px;
	height:20px;
	line-height:20px;
	text-align:left
}
.zdm-expand-comment .comment-tips-error {
	color:#f60;
	background:url(../images/icon/ico-error-s.png) no-repeat 3px center
}
.zdm-expand-reply-comment {
	position:relative;
	margin-top:3px;
	margin-bottom:5px;
	padding:15px 20px;
	background:#f3f3f3;
	border:1px solid #ebebeb;
	border-radius:5px
}
.zdm-expand-reply-comment .loading-status {
	background:#f3f3f3;
	top:15px;
	left:15px;
	width:550px;
	height:70px
}

.zdm-expand-reply-comment .zdm-textarea {
	padding:5px 10px;
	width:542px;
	height:55px;
	line-height:28px;
	background:#fff;
	border:1px solid #ccc
}
.zdm-expand-reply-comment .zdm-textarea-focus {
	border-color:#ffae3b
}
.zdm-expand-reply-comment .zdm-textarea-error {
	border-color:#ffae3b
}
.zdm-expand-pub-comment {
	position:relative;
	text-align:right
}
.zdm-expand-pub-comment .loading-status {
	width:651px;
	height:66px
}
.zdm-expand-pub-comment .zdm-textarea {
	padding:5px 10px;
	width:631px;
	height:55px;
	line-height:28px;
	background:#fff;
	border:1px solid #ccc
}
.zdm-expand-pub-comment .zdm-textarea-focus {
	border-color:#ffae3b
}
.zdm-expand-pub-comment .zdm-textarea-error {
	border-color:#ffae3b
}
.zdm-expand-pub-no-login {
	border:1px solid #dade4b;
	background:#fcfdd6;
	height:35px;
	line-height:32px;
	text-align:center;
	vertical-align:middle
}
.zdm-expand-pub-no-login i,.zdm-expand-pub-no-login .bar-login {
	display:inline-block;
	*display:inline;
	*zoom:1;
	line-height:32px;
	vertical-align:middle
}

.zdm-expand-pub-no-login .bar-login {
	width:auto;
	font-size:14px;
	color:#555
}
.zdm-expand-pub-no-login-active {
	border-color:#f00;
	background-color:#ffecec;
	box-shadow:0 0 3px #ffd1d1
}

.common-input {
	font-size:12px;
	padding:6px 4px 5px 4px;
	border:1px solid #CCC;
	overflow:hidden
}
.common-input:required {
	box-shadow:none
}
.common-select {
	border:1px solid #CCC;
	padding:3px 2px
}
.common-table {
	color:#333
}
.mt10 {
	margin-top:10px
}
.mb10 {
	margin-bottom:10px
}
.mr10 {
	margin-right:10px
}
.ml10 {
	margin-left:10px
}
.pl10 {
	padding-left:10px
}
.pr10 {
	padding-right:10px
}
.pt10 {
	padding-top:10px
}
.pb10 {
	padding-bottom:10px
}

.ico-kf {
	width:80px;
	height:22px
}
.ico-pro-step1 {
	background-position:0 0
}
.ico-pro-step2 {
	background-position:-36px 0
}
.ico-pro-step3 {
	background-position:-80px 0
}
.simple-step1 .ico-pro-step1 {
	background-position:0 -40px
}
.simple-step2 .ico-pro-step2 {
	background-position:-36px -40px
}
.simple-step3 .ico-pro-step3 {
	background-position:-80px -40px
}
.ico-tb-step1 {
	background-position:-120px 0
}
.ico-tb-step2 {
	background-position:-36px 0
}
.ico-tb-step3 {
	background-position:-80px 0
}
.simple-step1 .ico-tb-step1 {
	background-position:-120px -39px
}
.simple-step2 .ico-tb-step2 {
	background-position:-205px -40px
}
.simple-step3 .ico-tb-step3 {
	background-position:-160px -39px
}
.btn-no-radius {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
.button {
	display:inline-block;
	*display:inline;
	*zoom:1
}
.btn-no-shadow {
	box-shadow:none
}

.simple-steps li {
	float:left;
	width:320px;
	text-align:center;
	font-weight:bold;
	color:#666
}
.simple-steps li .ico {
	width:34px;
	height:34px;
	margin:12px 10px 12px 0;
	vertical-align:middle
}
.simple-step1 {
	background-position:0 0
}
.simple-step2 {
	background-position:0 -80px
}
.simple-step3 {
	background-position:0 -160px
}
.simple-step1 .li1,.simple-step2 .li2,.simple-step3 .li3 {
	color:#649700
}


/*page - submit*/
.zdm-pub {padding:0 35px 30px 35px;}
.zdm-pub .zdm-pub-title {font-size:18px; font-weight:bold; line-height:50px; color:#666; margin-bottom:10px;}
.zdm-pub .item{margin-bottom:5px;line-height:42px;font-size:14px;}
.zdm-pub .zdm-input {width:640px;}
.zdm-pub .ft {text-align:right;}
.zdm-pub .label {text-align:left;display:block;font-size:16px;color:#666;}
.zdm-pub .tips {padding-left:120px;}
.zdm-pub .valid-tips {display:none;line-height:24px;padding-left:25px;background:url(../images/ico-error-s.png) no-repeat 5px center;color:#f60;}
.zdm-pub .zdm-btn-submit {padding:0 32px;width:64px; color:#FFF; font-size:16px; line-height:34px}
.zdm-pub .zdm-textarea {height:148px;}
.zdm-pub .J-content-editor {height:300px;}


.zdm-intro {padding:5px 15px;}
.zdm-intro li,.zdm-intro p{margin-bottom:10px;line-height:22px;}
.zdm-intro .zdm-pub-title {font-size:16px;line-height:30px;margin-bottom:10px;}
.zdm-intro .ft {border-top: 1px solid #ccc;padding:15px 0;}
.zdm-intro .ft .bold {font-size: 14px;}

.zdm-pub-tabs {margin-bottom:20px;}
.zdm-pub-tabs li {float:left; width:135px; border:1px solid #E9E9E9;line-height:34px;font-size:14px;color:#747474; white-space:nowrap;}
.zdm-pub-tabs a {display:block; text-align:center;}
.zdm-pub-tabs .current {border-color:#F67629;background:#F67629;color:#fff;}
.zdm-pub-tabs .current a {color:#fff;}

/*pop*/
.pop-success {width:450px;}
.pop-success .pop-content {padding:50px 30px 50px 120px;font-size:14px;color:#333;background:url(../../common/images/icon/ico-success.png) no-repeat 50px center;color:;}

.zdm-uc-article{padding:0 35px 30px 35px;}
.zdm-uc-article .zdm-uc-title {font-size:18px;line-height:50px;margin-bottom:10px;}
.zdm-uc-article .tabs-article {}

.zdm-uc-tabs li {float:left;padding:0 22px;border:1px solid #E9E9E9;line-height:34px;font-size:14px;color:#747474;cursor:pointer;}
.zdm-uc-tabs .num {color:#f67629;margin-left:3px;}
.zdm-uc-tabs .bold {padding:0 3px;}
.zdm-uc-tabs .current {border-color:#F67629;background:#F67629;color:#fff;}
.zdm-uc-tabs .current .num {color:#fff;}

.zdm-uc-arti-item {padding:20px 0;border-bottom:1px dashed #EEE;clear:both;overflow:hidden;}
.zdm-uc-arti-item dl {float:left;width:750px;}
.zdm-uc-arti-item .l { margin-right:15px;}
.zdm-uc-arti-item .num { height:35px; line-height:35px; margin-top:5px; font-size:14px;}
.zdm-uc-arti-item .num span { margin-right:15px; color:#555;}
.zdm-uc-arti-item .num .item-vote-yes:hover{background:url(../images/bg-list3.png) no-repeat 10px -118px; color:#555;}
.zdm-uc-arti-item .num .item-vote-no:hover{background:url(../images/bg-list3.png) no-repeat 10px -151px; color:#555;}
.zdm-uc-arti-item .hd {font-size:14px;line-height:24px;}
.zdm-uc-arti-item .bd {line-height:20px;}
.zdm-uc-arti-item .hd a{ font-family:"Hiragino Sans GB", "Microsoft YaHei", "SimSun", sans-serif; font-size:14px}
.zdm-uc-arti-item *{ font-size:13px; line-height:25px}

.zdm-uc-arti-status {float:left;width:80px;margin-left:50px;font-size:14px;line-height:22px;}
.zdm-uc-arti-status .green {color:#8b3;}
.zdm-uc-arti-status .red {color:#f67629;}
.zdm-uc-arti-status .bd {font-size:12px;}
.zdm-uc-arti-status .mark {display:inline-block;*display:inline;*zoom:1;width:35px;height:55px;background:url(../images/sprite-uc-v2.png) no-repeat;margin-right:10px;}
.zdm-uc-arti-status .mark-pass {background-position:0 -53px;}
.zdm-uc-arti-status .mark-recomm {background-position:-45px -53px;}

.item-vote.zhuangtai{background:#F63; color:#FFF; font-weight:bold}
.item-vote.zhuangtai a{ color:#FFF; font-weight:bold; text-decoration:underline}
.btn-zdm-goshop {
	display:block;
	width:117px;
	height:22px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	background:#FFB98F;
	font-size:12px;
	line-height:21px;
	text-align:center;
	color:#FFF
}
.btn-zdm-goshop i {
	margin-left:5px;
	letter-spacing:-3px
}
.btn-zdm-goshop:hover,.btn-zdm-goshop:active {
	background:#FF8840
}

.btn-zdm {
display: inline-block;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: #F67629;
font-size: 16px;
text-align: center;
color: white;
}

#baoliao_con{float:left;width:777px;min-height:500px;overflow:hidden}
.baoliao_blo{margin:0 0 10px;padding:15px 20px;overflow:hidden;border:1px solid #e2e2e2;background-color:#fff;box-shadow:0 0 1px #e2e2e2;}
.single_navi .nav-next{margin:10px 0 0}
.single_navi a,.single_declare a,.single_declare span{color:#4064a6}
.single_navi a span{color:#333}
.single_declare{line-height:22px;}
#index-goods #zhidemaiDiv{ margin-top:10px}
.zdm-pub-box a.jiaocheng{color:#666; margin-left:5px; line-height:30px;}